<!DOCTYPE HTML>
<html>
<head>
  <title>Delaunay Edges - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="Delaunay Edges - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div class="topheader"></div>

<div class="page">

<div class="content">

<div class="header">
<h1><img src="../../icons/Triangulation/Connectivity.png"/> Delaunay Edges</h1>
<p><a href="../../index.html">Component Index</a> &gt; Grasshopper > Mesh > Triangulation > <b>Con</b></p>
</div>

<h3>Delaunay connectivity</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Points</b></td><td>P</td><td>Points for triangulate</td><td>List of Point</td></tr>
<tr><td><b>Plane</b></td><td>Pl</td><td>Optional base plane. If no plane is provided, then the best-fit plane will be used.</td><td>Plane</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Connectivity</b></td><td>C</td><td>Topological Connectivity diagram</td><td>Tree of Integer</td></tr>
<tr><td><b>Edges</b></td><td>E</td><td>Edges of the connectivity diagram</td><td>List of Line</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>