<!DOCTYPE HTML>
<html>
<head>
  <title>Facet Dome - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="Facet Dome - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div class="topheader"></div>

<div class="page">

<div class="content">

<div class="header">
<h1><img src="../../icons/Triangulation/FacetDome.png"/> Facet Dome</h1>
<p><a href="../../index.html">Component Index</a> &gt; Triangulation > Mesh > Triangulation > <b>Facet</b></p>
</div>

<h3>Create a facetted dome</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Points</b></td><td>P</td><td>Points on dome that describe the facet centers</td><td>List of Point</td></tr>
<tr><td><b>Box</b></td><td>B</td><td>Optional bounding box for facet boundary</td><td>Box</td></tr>
<tr><td><b>Radius</b></td><td>R</td><td>Optional radius for facets</td><td>Number</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Pattern</b></td><td>P</td><td>Complete facet pattern</td><td>List of Curve</td></tr>
<tr><td><b>Dome</b></td><td>D</td><td>dome surface</td><td>Surface</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>