<!DOCTYPE HTML>
<html>
<head>
  <title>Proximity 3D - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="Proximity 3D - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div id="topheader"></div>

<div id="page">

<div id="content">

<div id="header">
<h1><img src="../../icons/Triangulation/Proximity3D.png"/> Proximity 3D</h1>
<p><a href="../../index.html">Component Index</a> &gt; Mesh > Triangulation > <b>Prox</b></p>
</div>

<h3>Search for three-dimensional proximity within a point list</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Points</b></td><td>P</td><td>Input points</td><td>List of Point</td></tr>
<tr><td><b>Group</b></td><td>G</td><td>Maximum number of closest points to find</td><td>Integer</td></tr>
<tr><td><b>Min Radius</b></td><td>R-</td><td>Optional minimum search radius.</td><td>Number</td></tr>
<tr><td><b>Max Radius</b></td><td>R+</td><td>Optional maximum search radius.</td><td>Number</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Links</b></td><td>L</td><td>Proximity links</td><td>Tree of Line</td></tr>
<tr><td><b>Topology</b></td><td>T</td><td>Proximity topology</td><td>Tree of Integer</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>