<!DOCTYPE HTML>
<html>
<head>
  <title>Smooth Mesh - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="Smooth Mesh - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div class="topheader"></div>

<div class="page">

<div class="content">

<div class="header">
<h1><img src="../../icons/Triangulation/MeshSmooth.png"/> Smooth Mesh</h1>
<p><a href="../../index.html">Component Index</a> &gt; Grasshopper > Mesh > Util > <b>MSmooth</b></p>
</div>

<h3>Smooth the vertices of a mesh</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Mesh</b></td><td>M</td><td>Mesh to smooth</td><td>Mesh</td></tr>
<tr><td><b>Strength</b></td><td>S</td><td>Smoothing strength (0.0=none, 1.0=max)</td><td>Number</td></tr>
<tr><td><b>Skip Naked</b></td><td>N</td><td>Skip naked vertices</td><td>Boolean</td></tr>
<tr><td><b>Iterations</b></td><td>I</td><td>Number of successive smoothing steps</td><td>Integer</td></tr>
<tr><td><b>Limit</b></td><td>L</td><td>Optional maximum displacement per point</td><td>Number</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Mesh</b></td><td>M</td><td>Smoothed mesh</td><td>Mesh</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>