<!DOCTYPE HTML>
<html>
<head>
  <title>Voronoi Cell - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="Voronoi Cell - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div class="topheader"></div>

<div class="page">

<div class="content">

<div class="header">
<h1><img src="../../icons/Triangulation/Voronoi3DCell.png"/> Voronoi Cell</h1>
<p><a href="../../index.html">Component Index</a> &gt; Triangulation > Mesh > Triangulation > <b>VCell</b></p>
</div>

<h3>Compute a single 3D Voronoi cell</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Point</b></td><td>P</td><td>Seed point for voronoi cell</td><td>Point</td></tr>
<tr><td><b>Neighbours</b></td><td>N</td><td>Neighbour points</td><td>List of Point</td></tr>
<tr><td><b>Box</b></td><td>B</td><td>Optional cell boundary</td><td>Box</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Cell</b></td><td>C</td><td>Voronoi 3D cell</td><td>Brep</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>