<!DOCTYPE HTML>
<html>
<head>
  <title>Constant Quad Subdivide - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="Constant Quad Subdivide - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div class="topheader"></div>

<div class="page">

<div class="content">

<div class="header">
<h1><img src="../../icons/LunchBox/Constant_Quad_Subdivide.png"/> Constant Quad Subdivide</h1>
<p><a href="../../index.html">Component Index</a> &gt; LunchBox > LunchBox Generate > <b>Constant Quad Subdivide</b></p>
</div>

<h3>Subdivides a triangular panel into quadrangular cells</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Quad</b></td><td></td><td>An untrimmed quad surface to subdivide</td><td>Surface</td></tr>
<tr><td><b>N</b></td><td></td><td>Number of subdivisions.</td><td>Integer</td></tr>
<tr><td><b>R</b></td><td></td><td>Toggles between two recursive subdivision options</td><td>Boolean</td></tr>
<tr><td><b>Wires</b></td><td></td><td>When set to true, the component will return polylines (faster), when set to false, the component will return surfaces (slower)</td><td>Boolean</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Quad</b></td><td></td><td>List of quad cells.</td><td>Generic Data</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>