<!DOCTYPE HTML>
<html>
<head>
  <title>Deconstruct Wireframe - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="Deconstruct Wireframe - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div class="topheader"></div>

<div class="page">

<div class="content">

<div class="header">
<h1><img src="../../icons/LunchBox/Deconstruct_Wireframe.png"/> Deconstruct Wireframe</h1>
<p><a href="../../index.html">Component Index</a> &gt; LunchBox > LunchBox Util > <b>Deconstruct Wireframe</b></p>
</div>

<h3>Organizes a wireframe curve structure into nodes and centerlines</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Crvs</b></td><td></td><td>Curve network to organize.</td><td>Curve</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Nodes</b></td><td></td><td>List of nodes.</td><td>Generic Data</td></tr>
<tr><td><b>CrvDef</b></td><td></td><td>Definition of curve by end point index.</td><td>Generic Data</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>