<!DOCTYPE HTML>
<html>
<head>
  <title>Excel Write LEGACY - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="Excel Write LEGACY - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div class="topheader"></div>

<div class="page">

<div class="content">

<div class="header">
<h1><img src="../../icons/LunchBox/Excel_Write_LEGACY.png"/> Excel Write LEGACY</h1>
<p><a href="../../index.html">Component Index</a> &gt; LunchBox > LunchBox Workflow > <b>Excel Write LEGACY</b></p>
</div>

<h3>Write to an open Excel file.</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>UpdateExcel</b></td><td></td><td>Set to 'True' to write information to an open Excel file.</td><td>Boolean</td></tr>
<tr><td><b>WriteHeading</b></td><td></td><td>Set to 'True' to write column headings.</td><td>Boolean</td></tr>
<tr><td><b>ClearSheet</b></td><td></td><td>Set to 'True' to clear information on the worksheet.</td><td>Boolean</td></tr>
<tr><td><b>Worksheet</b></td><td></td><td>The worksheet number to write to.</td><td>Integer</td></tr>
<tr><td><b>ColumnStart</b></td><td></td><td>The starting column.</td><td>Integer</td></tr>
<tr><td><b>RowStart</b></td><td></td><td>The starting row.</td><td>Integer</td></tr>
<tr><td><b>Headings</b></td><td></td><td>The column headings.</td><td>Text</td></tr>
<tr><td><b>C1</b></td><td></td><td>Data in the first column</td><td>Text</td></tr>
<tr><td><b>C2</b></td><td></td><td>Data in the first column</td><td>Text</td></tr>
<tr><td><b>C3</b></td><td></td><td>Data in the first column</td><td>Text</td></tr>
<tr><td><b>C4</b></td><td></td><td>Data in the first column</td><td>Text</td></tr>
<tr><td><b>C5</b></td><td></td><td>Data in the first column</td><td>Text</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>out</b></td><td></td><td>Prints error or success streams.</td><td>Generic Data</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>