<!DOCTYPE HTML>
<html>
<head>
  <title>Excel Reader LEGACY - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="Excel Reader LEGACY - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div class="topheader"></div>

<div class="page">

<div class="content">

<div class="header">
<h1><img src="../../icons/LunchBox/Excel_Reader_LEGACY.png"/> Excel Reader LEGACY</h1>
<p><a href="../../index.html">Component Index</a> &gt; LunchBox > LunchBox Workflow > <b>Excel Reader LEGACY</b></p>
</div>

<h3>Reads an open Excel file.</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Read</b></td><td></td><td>Set to 'True' to read information from an open Excel file.</td><td>Boolean</td></tr>
<tr><td><b>Worksheet</b></td><td></td><td>The worksheet number.</td><td>Integer</td></tr>
<tr><td><b>Column</b></td><td></td><td>The column to read.</td><td>Integer</td></tr>
<tr><td><b>RowStart</b></td><td></td><td>The row to start reading</td><td>Integer</td></tr>
<tr><td><b>RowEnd</b></td><td></td><td>The row to end reading</td><td>Integer</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>out</b></td><td></td><td>Prints error or success streams.</td><td>Generic Data</td></tr>
<tr><td><b>Data</b></td><td></td><td>Data from the Excel Spreadsheet.</td><td>Generic Data</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>