<!DOCTYPE HTML>
<html>
<head>
  <title>Layer Information - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="Layer Information - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div class="topheader"></div>

<div class="page">

<div class="content">

<div class="header">
<h1><img src="../../icons/LunchBox/Layer_Information.png"/> Layer Information</h1>
<p><a href="../../index.html">Component Index</a> &gt; LunchBox > LunchBox Workflow > <b>Layer Information</b></p>
</div>

<h3>Get layer information from the current document.</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Toggle</b></td><td></td><td>Toggle for referencing objects by layer.</td><td>Boolean</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Names</b></td><td></td><td>Name of the layers.</td><td>Generic Data</td></tr>
<tr><td><b>Colors</b></td><td></td><td>Layer display color.</td><td>Generic Data</td></tr>
<tr><td><b>ID</b></td><td></td><td>Name of the layers.</td><td>Generic Data</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>