<!DOCTYPE HTML>
<html>
<head>
  <title>Quad Grid - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="Quad Grid - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div class="topheader"></div>

<div class="page">

<div class="content">

<div class="header">
<h1><img src="../../icons/LunchBox/Quad_Grid.png"/> Quad Grid</h1>
<p><a href="../../index.html">Component Index</a> &gt; LunchBox > LunchBox Panels > <b>Quad Grid</b></p>
</div>

<h3>Creates a quad corner point grid on a surface.</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Srf</b></td><td></td><td>A surface to panelize</td><td>Surface</td></tr>
<tr><td><b>U</b></td><td></td><td>Divisions in the surface U direction.</td><td>Integer</td></tr>
<tr><td><b>V</b></td><td></td><td>Divisions in the surface V direction.</td><td>Integer</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>C1</b></td><td></td><td>The first corner point</td><td>Generic Data</td></tr>
<tr><td><b>C2</b></td><td></td><td>The second corner point</td><td>Generic Data</td></tr>
<tr><td><b>C3</b></td><td></td><td>The third corner point</td><td>Generic Data</td></tr>
<tr><td><b>C4</b></td><td></td><td>The fourth corner point</td><td>Generic Data</td></tr>
<tr><td><b>MPt</b></td><td></td><td>The midpoint of the quad.</td><td>Generic Data</td></tr>
<tr><td><b>N</b></td><td></td><td>Normal vector at midpoint.</td><td>Generic Data</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>