<!DOCTYPE HTML>
<html>
<head>
  <title>CurveHicking - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="CurveHicking - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div class="topheader"></div>

<div class="page">

<div class="content">

<div class="header">
<h1><img src="../../icons/NudiBranch/hiching_crv_icon001.png"/> CurveHicking</h1>
<p><a href="../../index.html">Component Index</a> &gt; NudiBranch > Scramblers > <b>HickingCrv</b></p>
</div>

<h3>Generates the surface paths for any given ,curve attractor affected, population of points.</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Terrain</b></td><td>S</td><td>Surface terrain</td><td>Surface</td></tr>
<tr><td><b>Points</b></td><td>P</td><td>Point List to affect</td><td>Tree of Point</td></tr>
<tr><td><b>Curves</b></td><td>C</td><td>Curve Attractors</td><td>List of Curve</td></tr>
<tr><td><b>Range</b></td><td>R</td><td>Curve attractor's unique range (Leave one single value for global)</td><td>List, (double of Number</td></tr>
<tr><td><b>Attraction/Repulsion</b></td><td>Re</td><td>Toggle between attraction and repulsion (Leave one single value for global)</td><td>List, true of Boolean</td></tr>
<tr><td><b>Asc/Desc</b></td><td>As</td><td>Toggle between Ascending/Descending values</td><td>Boolean</td></tr>
<tr><td><b>Min/Max</b></td><td>Mi</td><td>Toggle between Minimum/Maximum values</td><td>Boolean</td></tr>
<tr><td><b>Force</b></td><td>F</td><td>Global force for all the curve attractors</td><td>Number</td></tr>
<tr><td><b>Iterations</b></td><td>It</td><td>Number of iterations</td><td>Integer</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>NewPoints</b></td><td>P</td><td>The generated point list per iteration</td><td>Tree of Point</td></tr>
<tr><td><b>NewVectors</b></td><td>V</td><td>The generated vector list per iteration</td><td>Tree of Vector</td></tr>
<tr><td><b>Paths</b></td><td>C</td><td>The generated path from each point's route on the surface</td><td>Tree of Curve</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>