<!DOCTYPE HTML>
<html>
<head>
  <title>CurveValues - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="CurveValues - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div class="topheader"></div>

<div class="page">

<div class="content">

<div class="header">
<h1><img src="../../icons/NudiBranch/curve_values_icon001.png"/> CurveValues</h1>
<p><a href="../../index.html">Component Index</a> &gt; NudiBranch > Attractors > <b>CrvValues</b></p>
</div>

<h3>Generates numerical values for any given pointlist, being affected by any number of curve attractors.</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Points</b></td><td>P</td><td>Point List to affect</td><td>Tree of Point</td></tr>
<tr><td><b>Curves</b></td><td>C</td><td>Curve Attractors</td><td>List of Curve</td></tr>
<tr><td><b>Range</b></td><td>R</td><td>Curve attractor's unique range (Leave one single value for global)</td><td>List, double of Number</td></tr>
<tr><td><b>Distribution</b></td><td>D</td><td>Select a force distribution:(0=Linear,1=parabola,2=sine,3=noise,4=sinc,5=hyperbolic,6=square root,7= power^3,8=radial random,9=cross sines,10= cos^2) (Leave one single value for global)</td><td>List, 1 of Integer</td></tr>
<tr><td><b>Asc/Desc</b></td><td>As</td><td>Toggle between Ascending/Descending values</td><td>Boolean</td></tr>
<tr><td><b>Min/Max</b></td><td>Mi</td><td>Toggle between Minimum/Maximum values</td><td>Boolean</td></tr>
<tr><td><b>Force</b></td><td>F</td><td>Global force for all the curve attractors</td><td>Number</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Values</b></td><td>V</td><td>The resulting values</td><td>Tree of Number</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>