<!DOCTYPE HTML>
<html>
<head>
  <title>PointAttractor - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="PointAttractor - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div class="topheader"></div>

<div class="page">

<div class="content">

<div class="header">
<h1><img src="../../icons/NudiBranch/pt_attractor_icon001.png"/> PointAttractor</h1>
<p><a href="../../index.html">Component Index</a> &gt; NudiBranch > Attractors > <b>PtAttractor</b></p>
</div>

<h3>Generates an iteratively defined new point/vector list for any given ,attractor affected, population of points.</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Points</b></td><td>P</td><td>Point List to affect</td><td>Tree of Point</td></tr>
<tr><td><b>Attractors</b></td><td>At</td><td>Point Attractors</td><td>List of Point</td></tr>
<tr><td><b>Range</b></td><td>R</td><td>Attractor's unique range (Leave one single value for global)</td><td>List, (double of Number</td></tr>
<tr><td><b>Distribution</b></td><td>D</td><td>Select a force distribution:(0=Linear,1=parabola,2=sine,3=noise,4=hyperbolic,5=square root,6=power^3) (Leave one single value for global)</td><td>List, 1 of Integer</td></tr>
<tr><td><b>Attraction/Repulsion</b></td><td>Re</td><td>Toggle between attraction and repulsion (Leave one single value for global)</td><td>List, true of Boolean</td></tr>
<tr><td><b>Asc/Desc</b></td><td>As</td><td>Toggle between Ascending/Descending values</td><td>Boolean</td></tr>
<tr><td><b>Min/Max</b></td><td>Mi</td><td>Toggle between Minimum/Maximum values</td><td>Boolean</td></tr>
<tr><td><b>Force</b></td><td>F</td><td>Global force for all the attractors</td><td>Number</td></tr>
<tr><td><b>Iterations</b></td><td>It</td><td>Number of iterations</td><td>Integer</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Length</b></td><td>L</td><td>The lenght of the vectors sum </td><td>Tree of Number</td></tr>
<tr><td><b>NewPoints</b></td><td>P</td><td>The generated point list per iteration</td><td>Tree of Point</td></tr>
<tr><td><b>NewVectors</b></td><td>V</td><td>The generated vector list per iteration</td><td>Tree of Vector</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>