<!DOCTYPE HTML>
<html>
<head>
  <title>Satellite - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="Satellite - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div class="topheader"></div>

<div class="page">

<div class="content">

<div class="header">
<h1><img src="../../icons/NudiBranch/satellite_icon001.png"/> Satellite</h1>
<p><a href="../../index.html">Component Index</a> &gt; NudiBranch > Animators > <b>Satellite</b></p>
</div>

<h3>Generates and animates satellite-like points around any collection of objects (Timer defined).</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Geometry</b></td><td>G</td><td>A collection of geometry/objects</td><td>List of Geometry</td></tr>
<tr><td><b>SatNumber</b></td><td>N</td><td>Number of satellites</td><td>Integer</td></tr>
<tr><td><b>Factor</b></td><td>F</td><td>Orbit's radius factor</td><td>Number</td></tr>
<tr><td><b>Seed</b></td><td>S</td><td>Random seed number</td><td>Integer</td></tr>
<tr><td><b>Reset</b></td><td>R</td><td>Toggle to run/stop the animation</td><td>Boolean</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Satellites</b></td><td>S</td><td>The generated/animated satellites</td><td>Tree of Point</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>