<!DOCTYPE HTML>
<html>
<head>
  <title>Brep Topology Vertex - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="Brep Topology Vertex - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div class="topheader"></div>

<div class="page">

<div class="content">

<div class="header">
<h1><img src="../../icons/Sandbox Topology/TopologyBrepPoint.png"/> Brep Topology Vertex</h1>
<p><a href="../../index.html">Component Index</a> &gt; Sandbox Topology > Topology > <b>Brep Topo Vertex</b></p>
</div>

<h3>Analyses the vertex topology of a Brep</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Brep</b></td><td>B</td><td>Brep to analyse</td><td>Brep</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Face-Vertex structure</b></td><td>FV</td><td>For each face list vertex indices belonging to face</td><td>Tree of Integer</td></tr>
<tr><td><b>Vertex-Face structure</b></td><td>VF</td><td>For each vertex list adjacent face indices</td><td>Tree of Integer</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>