<!DOCTYPE HTML>
<html>
<head>
  <title>Brep Topology Edge Filter - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="Brep Topology Edge Filter - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div class="topheader"></div>

<div class="page">

<div class="content">

<div class="header">
<h1><img src="../../icons/Sandbox Topology/TopologyBrepEdgeFilter.png"/> Brep Topology Edge Filter</h1>
<p><a href="../../index.html">Component Index</a> &gt; Sandbox Topology > Topology > <b>Brep Topo Edge Filter</b></p>
</div>

<h3>Filter the edges of a brep based on their valency</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Edge list</b></td><td>E</td><td>Ordered list of edges</td><td>List of Line</td></tr>
<tr><td><b>Edge-Face structure</b></td><td>EF</td><td>For each edge the list of adjacent face indices</td><td>Tree of Integer</td></tr>
<tr><td><b>Valency filter</b></td><td>V</td><td>Filter edges with the specified number of adjacent faces</td><td>Integer</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>List of edge IDs</b></td><td>I</td><td>List of edge indices matching the valency criteria</td><td>List of Text</td></tr>
<tr><td><b>List of edges</b></td><td>E</td><td>List of edges matching the valency criteria</td><td>Tree of Line</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>