<!DOCTYPE HTML>
<html>
<head>
  <title>Polygon Topology Point Filter - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="Polygon Topology Point Filter - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div class="topheader"></div>

<div class="page">

<div class="content">

<div class="header">
<h1><img src="../../icons/Sandbox Topology/TopologyPolyPointFilter.png"/> Polygon Topology Point Filter</h1>
<p><a href="../../index.html">Component Index</a> &gt; Sandbox Topology > Topology > <b>Poly Topo Point Filter</b></p>
</div>

<h3>Filter the points in a polygon network based on their connectivity</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Point list</b></td><td>P</td><td>Ordered list of points</td><td>List of Point</td></tr>
<tr><td><b>Point-Loop structure</b></td><td>PL</td><td>Ordered structure listing the polylines adjacent to each point</td><td>Tree of Integer</td></tr>
<tr><td><b>Valency filter</b></td><td>V</td><td>Filter points with the specified number of adjacent polylines</td><td>Integer</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>List of point IDs</b></td><td>I</td><td>List of point indices matching the valency criteria</td><td>List of Text</td></tr>
<tr><td><b>List of points</b></td><td>P</td><td>List of points matching the valency criteria</td><td>Tree of Point</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>