<!DOCTYPE HTML>
<html>
<head>
  <title>Construct Layer - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="Construct Layer - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div class="topheader"></div>

<div class="page">

<div class="content">

<div class="header">
<h1><img src="../../icons/Panda/Construct_Layer.png"/> Construct Layer</h1>
<p><a href="../../index.html">Component Index</a> &gt; Panda > Panda Panda > <b>Construct Layer</b></p>
</div>

<h3>Construct Layer</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Name</b></td><td></td><td>Name for the layer</td><td>Text</td></tr>
<tr><td><b>Color</b></td><td></td><td>Color for the layer</td><td>Colour</td></tr>
<tr><td><b>Plotcolor</b></td><td></td><td>Plotcolor for the layer</td><td>Colour</td></tr>
<tr><td><b>Plotweight</b></td><td></td><td>Plotweight for the layer</td><td>Number</td></tr>
<tr><td><b>Material</b></td><td></td><td>Material for the layer</td><td>Material</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Layer</b></td><td></td><td>Layer</td><td>Layer</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>