<!DOCTYPE HTML>
<html>
<head>
  <title>Cull Duplicate - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="Cull Duplicate - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div class="topheader"></div>

<div class="page">

<div class="content">

<div class="header">
<h1><img src="../../icons/Panda/Cull_Duplicate.png"/> Cull Duplicate</h1>
<p><a href="../../index.html">Component Index</a> &gt; Panda > Panda Curve > <b>Cull Duplicate</b></p>
</div>

<h3>Cull duplicate curves by tolerance</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Curve</b></td><td></td><td>Curves to remove</td><td>Curve</td></tr>
<tr><td><b>Tolerence</b></td><td></td><td>The tolerance with which the curves are removed</td><td>Number</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Unique</b></td><td></td><td>Removed curves</td><td>Curve</td></tr>
<tr><td><b>Map</b></td><td></td><td>An index map from original indices to set indices</td><td>Integer</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>