<!DOCTYPE HTML>
<html>
<head>
  <title>Deconstruct Material - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="Deconstruct Material - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div class="topheader"></div>

<div class="page">

<div class="content">

<div class="header">
<h1><img src="../../icons/Panda/Deconstruct_Material.png"/> Deconstruct Material</h1>
<p><a href="../../index.html">Component Index</a> &gt; Panda > Panda Panda > <b>Deconstruct Material</b></p>
</div>

<h3>Deconstruct materials</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Material</b></td><td></td><td>Materials</td><td>Material</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Name</b></td><td></td><td>Name</td><td>Text</td></tr>
<tr><td><b>Transparency</b></td><td></td><td>Amount of Transparency (0.0 = Transparent, 1.0 = opaque)</td><td>Number</td></tr>
<tr><td><b>Shine</b></td><td></td><td>Amount of glossy shine on the material. (0.0 = Matte, 1.0 = Full gloss)</td><td>Number</td></tr>
<tr><td><b>Reflectivity</b></td><td></td><td>Amount of reflectivity on the material. (0.0 = Matte, 1.0 = Full reflectivity)</td><td>Number</td></tr>
<tr><td><b>Diffuse Color</b></td><td></td><td>Color of the diffuse channel</td><td>Colour</td></tr>
<tr><td><b>Specular Color</b></td><td></td><td>Color of the specular highlight</td><td>Colour</td></tr>
<tr><td><b>Emission Color</b></td><td></td><td>Emissive color of the material</td><td>Colour</td></tr>
<tr><td><b>Transparent Color</b></td><td></td><td>Color of the transparent</td><td>Colour</td></tr>
<tr><td><b>Reflection Color</b></td><td></td><td>Reflectione color of the material</td><td>Colour</td></tr>
<tr><td><b>Diffuse Texture</b></td><td></td><td>Amount of glossy shine on the material. (0.0 = Matte, 1.0 = Full gloss)</td><td>Generic Data</td></tr>
<tr><td><b>Bump Texture</b></td><td></td><td>Amount of glossy shine on the material. (0.0 = Matte, 1.0 = Full gloss)</td><td>Generic Data</td></tr>
<tr><td><b>Environment Texture</b></td><td></td><td>Amount of glossy shine on the material. (0.0 = Matte, 1.0 = Full gloss)</td><td>Generic Data</td></tr>
<tr><td><b>Transparency Texture</b></td><td></td><td>Amount of glossy shine on the material. (0.0 = Matte, 1.0 = Full gloss)</td><td>Generic Data</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>