<!DOCTYPE HTML>
<html>
<head>
  <title>Deconstruct Attributes - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="Deconstruct Attributes - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div class="topheader"></div>

<div class="page">

<div class="content">

<div class="header">
<h1><img src="../../icons/Panda/Deconstruct_Attributes.png"/> Deconstruct Attributes</h1>
<p><a href="../../index.html">Component Index</a> &gt; Panda > Panda Panda > <b>Deconstruct Attributes</b></p>
</div>

<h3>Deconstruct Attributes</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Attributes</b></td><td></td><td>Object attributes</td><td>Material</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Name</b></td><td></td><td>Name of the object</td><td>Text</td></tr>
<tr><td><b>Layer</b></td><td></td><td>Layer of the object</td><td>Layer</td></tr>
<tr><td><b>Color</b></td><td></td><td>Display color of the object</td><td>Colour</td></tr>
<tr><td><b>Material</b></td><td></td><td>Render material of the object</td><td>Material</td></tr>
<tr><td><b>Linetype</b></td><td></td><td>Linetype of the object</td><td>Linetype</td></tr>
<tr><td><b>Groupindices</b></td><td></td><td>The indices of the groups to which each object belongs</td><td>Integer</td></tr>
<tr><td><b>Plotcolor</b></td><td></td><td>Plotcolor of the object</td><td>Colour</td></tr>
<tr><td><b>Plotweight</b></td><td></td><td>Object Plot Weight in mm.</td><td>Number</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>