<!DOCTYPE HTML>
<html>
<head>
  <title>Offset Surface - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="Offset Surface - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div class="topheader"></div>

<div class="page">

<div class="content">

<div class="header">
<h1><img src="../../icons/Panda/Offset_Surface.png"/> Offset Surface</h1>
<p><a href="../../index.html">Component Index</a> &gt; Panda > Panda Surface > <b>Offset Surface</b></p>
</div>

<h3>Offset surface including trim information</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Surface</b></td><td></td><td>Base Surface</td><td>Brep</td></tr>
<tr><td><b>Distance</b></td><td></td><td>Offset distance</td><td>Number</td></tr>
<tr><td><b>Tolerance</b></td><td></td><td>Offset tolerance</td><td>Number</td></tr>
<tr><td><b>Solid</b></td><td></td><td>Solid offset</td><td>Boolean</td></tr>
<tr><td><b>Both Side</b></td><td></td><td>Both Side</td><td>Boolean</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Offset</b></td><td></td><td>Offset</td><td>Brep</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>