<!DOCTYPE HTML>
<html>
<head>
  <title>Straight Stair - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="Straight Stair - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div class="topheader"></div>

<div class="page">

<div class="content">

<div class="header">
<h1><img src="../../icons/Panda/Straight_Stair.png"/> Straight Stair</h1>
<p><a href="../../index.html">Component Index</a> &gt; Panda > Panda Structure > <b>Straight Stair</b></p>
</div>

<h3>Create a straight stair</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Start</b></td><td></td><td>Referrental curve of start step</td><td>Curve</td></tr>
<tr><td><b>Count</b></td><td></td><td>Count of steps</td><td>Integer</td></tr>
<tr><td><b>Width</b></td><td></td><td>Width of steps</td><td>Number</td></tr>
<tr><td><b>Height</b></td><td></td><td>Height of steps</td><td>Number</td></tr>
<tr><td><b>Depth</b></td><td></td><td>Depth of platform</td><td>Number</td></tr>
<tr><td><b>Parameter</b></td><td></td><td>Parameter of direction</td><td>Number</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Reference</b></td><td></td><td>Example stair</td><td>Brep</td></tr>
<tr><td><b>Horizental Step</b></td><td></td><td>Referental surfaces of horizental Steps</td><td>Brep</td></tr>
<tr><td><b>Vertical Steps</b></td><td></td><td>Referental surfaces of vertical Steps</td><td>Brep</td></tr>
<tr><td><b>Bevel</b></td><td></td><td>Bevel of stair</td><td>Brep</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>