<!DOCTYPE HTML>
<html>
<head>
  <title>Terrain - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="Terrain - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div class="topheader"></div>

<div class="page">

<div class="content">

<div class="header">
<h1><img src="../../icons/Panda/Terrain.png"/> Terrain</h1>
<p><a href="../../index.html">Component Index</a> &gt; Panda > Panda Terrain > <b>Terrain</b></p>
</div>

<h3>Terrain from a list of altitude points</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Elevation</b></td><td></td><td>Altitude points</td><td>Point</td></tr>
<tr><td><b>Precision</b></td><td></td><td>Precision of terrain,the smaller the number, the higher the precision. ,</td><td>Number</td></tr>
<tr><td><b>Coutourplane</b></td><td></td><td>Coutourplane for isoheight</td><td>Plane</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Terrain</b></td><td></td><td>Terrain surface</td><td>Surface</td></tr>
<tr><td><b>Isoheight</b></td><td></td><td>Isoheight of terrain</td><td>Curve</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>