<!DOCTYPE HTML>
<html>
<head>
  <title>AssignPaths - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="AssignPaths - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div class="topheader"></div>

<div class="page">

<div class="content">

<div class="header">
<h1><img src="../../icons/Human/AssignPaths.png"/> AssignPaths</h1>
<p><a href="../../index.html">Component Index</a> &gt; Human > Human TreeFrog > <b>AssignPaths</b></p>
</div>

<h3>Assigns an arbitrary path structure to a flat list of input data</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>data</b></td><td></td><td>a flat list of input data</td><td>Generic Data</td></tr>
<tr><td><b>paths</b></td><td></td><td>a flat list of paths to assign. This list must have exactly the same number of items as the input data.</td><td>Path</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>data</b></td><td></td><td>The data with specified paths assigned</td><td>Generic Data</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>