<!DOCTYPE HTML>
<html>
<head>
  <title>CreateHatch - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="CreateHatch - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div class="topheader"></div>

<div class="page">

<div class="content">

<div class="header">
<h1><img src="../../icons/Human/createHatch.png"/> CreateHatch</h1>
<p><a href="../../index.html">Component Index</a> &gt; Human > Creation > <b>CreateHatch</b></p>
</div>

<h3>Create Hatch Objects with specified pattern, scale, rotation, and attributes</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Bake?</b></td><td>bake</td><td>Set this value to true to bake the hatches into your active Rhino Document.</td><td>Boolean</td></tr>
<tr><td><b>Curves</b></td><td>crv</td><td>The sets of curves to hatch. Curves in the same branch will be processed at the same time, producing internal voids where appropriate.</td><td>List of Curve</td></tr>
<tr><td><b>Hatch Pattern Name</b></td><td>name</td><td>The name of the hatch to search for. If left blank or if the specified hatch cannot be found, a solid hatch will be used.</td><td>List, "Solid" of Text</td></tr>
<tr><td><b>Hatch Scale</b></td><td>scale</td><td>Hatch scale</td><td>List, double of Number</td></tr>
<tr><td><b>Hatch Rotation</b></td><td>rot</td><td>Hatch rotation in radians</td><td>List, double of Number</td></tr>
<tr><td><b>Attributes</b></td><td>att</td><td>The hatch's object properties</td><td>List of Generic</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>geo</b></td><td></td><td>The surfaces or curves of the specified hatch</td><td>Geometry</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>