<!DOCTYPE HTML>
<html>
<head>
  <title>CreateAttributes - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="CreateAttributes - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div class="topheader"></div>

<div class="page">

<div class="content">

<div class="header">
<h1><img src="../../icons/Human/CreateAttributes.png"/> CreateAttributes</h1>
<p><a href="../../index.html">Component Index</a> &gt; Human > Creation > <b>CreateAtts</b></p>
</div>

<h3>Create Object Attributes</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Name</b></td><td>name</td><td>the object name</td><td>Text</td></tr>
<tr><td><b>Layer Name</b></td><td>lay</td><td>The name of the layer the object is on</td><td>Text</td></tr>
<tr><td><b>Color</b></td><td>col</td><td>The object's display color</td><td>Colour</td></tr>
<tr><td><b>Material Name</b></td><td>mat</td><td>The name of the object's render material</td><td>Text</td></tr>
<tr><td><b>Linetype Name</b></td><td>lt</td><td>The name of the object's linetype</td><td>Text</td></tr>
<tr><td><b>Group Indices</b></td><td>grp</td><td>The indices of the groups to which each object belongs</td><td>List of Integer</td></tr>
<tr><td><b>Plot Weight</b></td><td>PW</td><td>Object Plot Weight in mm.</td><td>Number</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Object Attributes</b></td><td>att</td><td>Object Attributes</td><td>Generic</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>