<!DOCTYPE HTML>
<html>
<head>
  <title>Custom Preview Materials - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="Custom Preview Materials - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div class="topheader"></div>

<div class="page">

<div class="content">

<div class="header">
<h1><img src="../../icons/Human/customPreviewMaterials.png"/> Custom Preview Materials</h1>
<p><a href="../../index.html">Component Index</a> &gt; Human > Display > <b>PreviewMat</b></p>
</div>

<h3>Custom Preview with Materials</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Geometry</b></td><td>G</td><td>Geometry to preview</td><td>Geometry</td></tr>
<tr><td><b>Diffuse Color</b></td><td>DC</td><td>The base diffuse color.</td><td>Colour</td></tr>
<tr><td><b>Transparency</b></td><td>T</td><td>The overall transparency, from 0 to 1.</td><td>Number</td></tr>
<tr><td><b>Diffuse Bitmap</b></td><td>DB</td><td>The filepath to the bitmap image to be used in the diffuse channel.</td><td>Text</td></tr>
<tr><td><b>Transparency Bitmap</b></td><td>TB</td><td>The filepath to the bitmap image to be used in the transparency channel.</td><td>Text</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>