<!DOCTYPE HTML>
<html>
<head>
  <title>Define Block - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="Define Block - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div class="topheader"></div>

<div class="page">

<div class="content">

<div class="header">
<h1><img src="../../icons/Human/defineBlock.png"/> Define Block</h1>
<p><a href="../../index.html">Component Index</a> &gt; Human > Creation > <b>DefBlock</b></p>
</div>

<h3>This component allows you to define or replace a block definition.</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Block Name</b></td><td>BN</td><td>The name of the block definition</td><td>Text</td></tr>
<tr><td><b>Geometry</b></td><td>G</td><td>The geometry that makes up the block.</td><td>List of Geometry</td></tr>
<tr><td><b>Attributes</b></td><td>A</td><td>The optional geometry attributes (like layer, color, etc)</td><td>List of Generic</td></tr>
<tr><td><b>Block Origin</b></td><td>BO</td><td>The base plane of the block definition</td><td>Plane</td></tr>
<tr><td><b>Overwrite</b></td><td>O</td><td>Set this to true in order to overwrite the block definition.</td><td>Boolean</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Block Name</b></td><td>BN</td><td>The names of successfully defined blocks</td><td>Text</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>