<!DOCTYPE HTML>
<html>
<head>
  <title>DeleteOnLayer - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="DeleteOnLayer - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div class="topheader"></div>

<div class="page">

<div class="content">

<div class="header">
<h1><img src="../../icons/Human/delByLayer.png"/> DeleteOnLayer</h1>
<p><a href="../../index.html">Component Index</a> &gt; Human > Misc > <b>DelOnLay</b></p>
</div>

<h3>Deletes all objects on specified Layers, then passes true. <br> Useful for appearing to change an object directly in a Rhino document, <br> in order to take advantage of advanced display capabilities. <br> WARNING: Make sure that no items on the specified layers are <br> referenced by any portion of your definition. This includes <br> both reference through standard parameters and reference <br> with the Human components. <br> IF YOU DO NOT ABIDE BY THIS WARNING YOU MAY CRASH GRASSHOPPER!</h3>

<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>