<!DOCTYPE HTML>
<html>
<head>
  <title>Explode Blocks Recursively - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="Explode Blocks Recursively - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div class="topheader"></div>

<div class="page">

<div class="content">

<div class="header">
<h1><img src="../../icons/Human/block_explode_recursive.png"/> Explode Blocks Recursively</h1>
<p><a href="../../index.html">Component Index</a> &gt; Human > Reference > <b>BlockExplode R</b></p>
</div>

<h3>Recursively explodes a set of Instance Objects into their proper geometry, structured in a Data Tree according to block nesting.</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Block Objects</b></td><td>block</td><td>Data in the form of Rhino.DocObjects.InstanceObject</td><td>Tree of Generic</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Geometry</b></td><td>geo</td><td>Block Geometry</td><td>Tree of Generic</td></tr>
<tr><td><b>Attributes</b></td><td>att</td><td>Object Attributes</td><td>Tree of Generic</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>