<!DOCTYPE HTML>
<html>
<head>
  <title>Hatch Explode - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="Hatch Explode - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div class="topheader"></div>

<div class="page">

<div class="content">

<div class="header">
<h1><img src="../../icons/Human/hatchInfo.png"/> Hatch Explode</h1>
<p><a href="../../index.html">Component Index</a> &gt; Human > Reference > <b>HatchExp</b></p>
</div>

<h3>Gets the geometry and properties of a referenced hatch object</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Hatch</b></td><td>hatch</td><td>A Rhino.DocObjects.HatchObject or a Rhino.Geometry.Hatch</td><td>Generic</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>curves</b></td><td></td><td>Hatch Boundary Curves</td><td>Curve</td></tr>
<tr><td><b>name</b></td><td></td><td>The name of the hatch pattern</td><td>Text</td></tr>
<tr><td><b>scale</b></td><td></td><td>Hatch Scale</td><td>Number</td></tr>
<tr><td><b>rot</b></td><td></td><td>Hatch Rotation in Radians</td><td>Number</td></tr>
<tr><td><b>exp</b></td><td></td><td>Exploded hatch geometry as Curves or planar surfaces</td><td>Geometry</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>