<!DOCTYPE HTML>
<html>
<head>
  <title>Material Table - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="Material Table - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div class="topheader"></div>

<div class="page">

<div class="content">

<div class="header">
<h1><img src="../../icons/Human/materialTable.png"/> Material Table</h1>
<p><a href="../../index.html">Component Index</a> &gt; Human > Document Info > <b>MatTable</b></p>
</div>

<h3>Accesses the render materials in the document</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>update</b></td><td>U</td><td>Update this boolean toggle to refresh the list of document materials</td><td>Tree, true of Boolean</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Material Name</b></td><td>MN</td><td>The names of the materials in the document</td><td>List of Text</td></tr>
<tr><td><b>Shader</b></td><td>S</td><td>A Grasshopper shader that approximates the render material as closely as possible.</td><td>List of</td></tr>
<tr><td><b>Diffuse</b></td><td>Kd</td><td>Color of the diffuse channel</td><td>List of Colour</td></tr>
<tr><td><b>Specular</b></td><td>Ks</td><td>Color of the specular highlight</td><td>List of Colour</td></tr>
<tr><td><b>Emission</b></td><td>Ke</td><td>Emissive color of the material</td><td>List of Colour</td></tr>
<tr><td><b>Alpha</b></td><td>A</td><td>Amount of Transparency (0.0 = Transparent, 1.0 = opaque)</td><td>List of Number</td></tr>
<tr><td><b>Gloss</b></td><td>G</td><td>Amount of glossy shine on the material. (0.0 = Matte, 1.0 = Full gloss)</td><td>List of Number</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>