<!DOCTYPE HTML>
<html>
<head>
  <title>Modify Viewport - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="Modify Viewport - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div class="topheader"></div>

<div class="page">

<div class="content">

<div class="header">
<h1><img src="../../icons/Human/ModifyViewport.png"/> Modify Viewport</h1>
<p><a href="../../index.html">Component Index</a> &gt; Human > Document Modifications > <b>Mod Viewport</b></p>
</div>

<h3>Use this component to restore a named view in a viewport, set its display mode, or set its camera.</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Viewport Name</b></td><td>N</td><td>The name of the viewport to modify. If left blank, active viewport will be used.</td><td>Text</td></tr>
<tr><td><b>Named View to Restore</b></td><td>NV</td><td>The optional name of a named view to restore in this viewport.</td><td>Text</td></tr>
<tr><td><b>Display Mode</b></td><td>DM</td><td>Optional Display mode to set this viewport to.</td><td>Text</td></tr>
<tr><td><b>Camera Location</b></td><td>CL</td><td>The optional camera location point. This will override a named view.</td><td>Point</td></tr>
<tr><td><b>Camera Target</b></td><td>CT</td><td>The optional camera target point. This will override a named view.</td><td>Point</td></tr>
<tr><td><b>Camera Projection</b></td><td>CPr</td><td>an optional boolean value for the camera projection. False for parallel, true for perspective.</td><td>Boolean</td></tr>
<tr><td><b>Camera Lens Length</b></td><td>CLL</td><td>Optional lens length for the perspective camera</td><td>Number</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>