<!DOCTYPE HTML>
<html>
<head>
  <title>PassSequentially - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="PassSequentially - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div class="topheader"></div>

<div class="page">

<div class="content">

<div class="header">
<h1></h1>
<p><a href="../../index.html">Component Index</a> &gt; Human > Misc > <b>PassSeq</b></p>
</div>

<h3>Outputs a list of data one member at a time. Useful for driving a Kangaroo simulation in a single go</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Data to Pass</b></td><td>d</td><td>This is the list of data that will be fed to the output one list item at a time</td><td>Generic</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Data out</b></td><td>d</td><td>the data out, one item at a time</td><td>Generic</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>