<!DOCTYPE HTML>
<html>
<head>
  <title>Render Text to Screen - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="Render Text to Screen - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div class="topheader"></div>

<div class="page">

<div class="content">

<div class="header">
<h1><img src="../../icons/Human/RenderTextToScreen.png"/> Render Text to Screen</h1>
<p><a href="../../index.html">Component Index</a> &gt; Human > Display > <b>TextToScreen</b></p>
</div>

<h3>Displays a text object in a fixed position on screen</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Text</b></td><td>T</td><td>The text to render to the screen</td><td>Text</td></tr>
<tr><td><b>Location</b></td><td>L</td><td>The location to display the text. Specify points in pixel coordinates - \n 100,100,0 will be 100 pixels right and down from the upper-left corner of the viewport.</td><td>Point</td></tr>
<tr><td><b>Size</b></td><td>S</td><td>The pixel height of the text.</td><td>Number</td></tr>
<tr><td><b>Color</b></td><td>C</td><td>The color to display the text</td><td>Colour</td></tr>
<tr><td><b>Font</b></td><td>F</td><td>The font to use</td><td>Text</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>