<!DOCTYPE HTML>
<html>
<head>
  <title>SurfaceMapping - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="SurfaceMapping - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div class="topheader"></div>

<div class="page">

<div class="content">

<div class="header">
<h1><img src="../../icons/Human/SurfaceMapping.png"/> SurfaceMapping</h1>
<p><a href="../../index.html">Component Index</a> &gt; Human > Texture Mapping > <b>SurfaceMap</b></p>
</div>

<h3>Applies a surface UV texture mapping to a mesh.</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Mesh</b></td><td>M</td><td>The mesh to map</td><td>Mesh</td></tr>
<tr><td><b>Surface</b></td><td>S</td><td>The surface to use for mapping. Trims will be ignored.</td><td>Surface</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Mapped Mesh</b></td><td>M</td><td>The mesh with texture mapping applied. \nNeeds to be used in conjunction with the \nCustom Preview with Materials component \nin order to see the effect.</td><td>Mesh</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>