<!DOCTYPE HTML>
<html>
<head>
  <title>Construct Date - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="Construct Date - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div class="topheader"></div>

<div class="page">

<div class="content">

<div class="header">
<h1><img src="../../icons/Mathematics/ComposeDate.png"/> Construct Date</h1>
<p><a href="../../index.html">Component Index</a> &gt; Grasshopper > Math > Time > <b>Date</b></p>
</div>

<h3>Construct a date and time instance.</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Year</b></td><td>Y</td><td>Year number (must be between 1 and 9999)</td><td>Integer</td></tr>
<tr><td><b>Month</b></td><td>M</td><td>Month number (must be between 1 and 12)</td><td>Integer</td></tr>
<tr><td><b>Day</b></td><td>D</td><td>Day of month (must be between 1 and 31)</td><td>Integer</td></tr>
<tr><td><b>Hour</b></td><td>h</td><td>Hour of day (must be between 0 and 23)</td><td>Integer</td></tr>
<tr><td><b>Minute</b></td><td>m</td><td>Minute of the hour (must be between 0 and 59)</td><td>Integer</td></tr>
<tr><td><b>Second</b></td><td>s</td><td>Second of the minute (must be between 0 and 59)</td><td>Integer</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Date</b></td><td>D</td><td>Date and Time data</td><td>Time</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>