<!DOCTYPE HTML>
<html>
<head>
  <title>Consecutive Domains - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="Consecutive Domains - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div class="topheader"></div>

<div class="page">

<div class="content">

<div class="header">
<h1><img src="../../icons/Mathematics/ConsecutiveIntervals.png"/> Consecutive Domains</h1>
<p><a href="../../index.html">Component Index</a> &gt; Grasshopper > Maths > Domain > <b>Consec</b></p>
</div>

<h3>Create consecutive domains from a list of numbers</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Numbers</b></td><td>N</td><td>Numbers for consecutive domains</td><td>List, new double[] { 0.0, 0.5, 1.0, 1.5, 2.0 } of Number</td></tr>
<tr><td><b>Additive</b></td><td>A</td><td>If True, values are added to a sum-total</td><td>Boolean</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Domains</b></td><td>D</td><td>Domains describing the spaces between the numbers</td><td>List of Interval</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>