<!DOCTYPE HTML>
<html>
<head>
  <title>Create Complex - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="Create Complex - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div class="topheader"></div>

<div class="page">

<div class="content">

<div class="header">
<h1><img src="../../icons/Mathematics/ComposeComplex.png"/> Create Complex</h1>
<p><a href="../../index.html">Component Index</a> &gt; Mathematics > Maths > Util > <b>Complex</b></p>
</div>

<h3>Create a complex number from a Real and an Imaginary component</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Real</b></td><td>R</td><td>Real component of complex number</td><td>Number</td></tr>
<tr><td><b>Imaginary</b></td><td>i</td><td>Imaginary component of complex number</td><td>Number</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Complex</b></td><td>C</td><td>Complex number</td><td>ComplexNumber</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>