<!DOCTYPE HTML>
<html>
<head>
  <title>Cull Pattern - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="Cull Pattern - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div class="topheader"></div>

<div class="page">

<div class="content">

<div class="header">
<h1><img src="../../icons/Mathematics/CullPattern.png"/> Cull Pattern</h1>
<p><a href="../../index.html">Component Index</a> &gt; Mathematics > Sets > Sequence > <b>Cull</b></p>
</div>

<h3>Cull (remove) elements in a list using a repeating bit mask.</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>List</b></td><td>L</td><td>List to cull</td><td>List of Generic</td></tr>
<tr><td><b>Cull Pattern</b></td><td>P</td><td>Culling pattern</td><td>List of Boolean</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>List</b></td><td>L</td><td>Culled list</td><td>List of Generic</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>