<!DOCTYPE HTML>
<html>
<head>
  <title>Divide Domain\x00b2 - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="Divide Domain\x00b2 - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div class="topheader"></div>

<div class="page">

<div class="content">

<div class="header">
<h1><img src="../../icons/Mathematics/Divide2DInterval.png"/> Divide Domain\x00b2</h1>
<p><a href="../../index.html">Component Index</a> &gt; Mathematics > Maths > Domain > <b>Divide</b></p>
</div>

<h3>Divides a two-dimensional domain into equal segments.</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Domain</b></td><td>I</td><td>Base domain</td><td>Interval2D</td></tr>
<tr><td><b>U Count</b></td><td>U</td><td>Number of segments in {u} direction</td><td>Integer</td></tr>
<tr><td><b>V Count</b></td><td>V</td><td>Number of segments in {v} direction</td><td>Integer</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Segments</b></td><td>S</td><td>Individual segments</td><td>List of Interval2D</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>