<!DOCTYPE HTML>
<html>
<head>
  <title>Evaluate - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="Evaluate - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div class="topheader"></div>

<div class="page">

<div class="content">

<div class="header">
<h1><img src="../../icons/Mathematics/EvaluateExpression.png"/> Evaluate</h1>
<p><a href="../../index.html">Component Index</a> &gt; Grasshopper > Maths > Script > <b>Eval</b></p>
</div>

<h3>Evaluate an expression with a flexible number of variables.</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Expression</b></td><td>F</td><td>Expression to evaluate</td><td></td></tr>
<tr><td></td><td>x</td><td></td><td></td></tr>
<tr><td></td><td>y</td><td></td><td></td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Result</b></td><td>r</td><td>Expression result</td><td>Generic</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>