<!DOCTYPE HTML>
<html>
<head>
  <title>F6 - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="F6 - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div class="topheader"></div>

<div class="page">

<div class="content">

<div class="header">
<h1><img src=""/> F6</h1>
<p><a href="../../index.html">Component Index</a> &gt; Mathematics > Mathematics > <b>F(a,b,c,d,x,y)</b></p>
</div>

<h3>A function of six variables; {a,b,c,d,x,y}.</h3>

<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>