<!DOCTYPE HTML>
<html>
<head>
  <title>Fibonacci - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="Fibonacci - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div class="topheader"></div>

<div class="page">

<div class="content">

<div class="header">
<h1><img src="../../icons/Mathematics/Fibonacci.png"/> Fibonacci</h1>
<p><a href="../../index.html">Component Index</a> &gt; Grasshopper > Sets > Sequence > <b>Fib</b></p>
</div>

<h3>Creates a Fibonacci sequence.</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Seed A</b></td><td>A</td><td>First seed number of the sequence</td><td>Number</td></tr>
<tr><td><b>Seed B</b></td><td>B</td><td>Second seed number of the sequence</td><td>Number</td></tr>
<tr><td><b>Number</b></td><td>N</td><td>Number of values in the sequence</td><td>Integer</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Series</b></td><td>S</td><td>First N numbers in this Fibonacci sequence</td><td>List of Number</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>