<!DOCTYPE HTML>
<html>
<head>
  <title>Includes - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="Includes - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div class="topheader"></div>

<div class="page">

<div class="content">

<div class="header">
<h1><img src="../../icons/Mathematics/DomainIncludes.png"/> Includes</h1>
<p><a href="../../index.html">Component Index</a> &gt; Mathematics > Maths > Domain > <b>Inc</b></p>
</div>

<h3>Test a numeric value to see if it is included in the domain</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Value</b></td><td>V</td><td>Value to test for inclusion</td><td>Number</td></tr>
<tr><td><b>Domain</b></td><td>D</td><td>Domain to test with</td><td>Interval</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Includes</b></td><td>I</td><td>True if the value is included in the domain</td><td>Boolean</td></tr>
<tr><td><b>Deviation</b></td><td>D</td><td>Distance between the value and the nearest value inside the domain</td><td>Number</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>