<!DOCTYPE HTML>
<html>
<head>
  <title>Interpolate Date - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="Interpolate Date - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div id="topheader"></div>

<div id="page">

<div id="content">

<div id="header">
<h1><img src="../../icons/Mathematics/InterpolateTime.png"/> Interpolate Date</h1>
<p><a href="../../index.html">Component Index</a> &gt; Math > Time > <b>IntDate</b></p>
</div>

<h3>Interpolate between two dates or times.</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Date A</b></td><td>A</td><td>First date</td><td>Time</td></tr>
<tr><td><b>Date B</b></td><td>B</td><td>Second date</td><td>Time</td></tr>
<tr><td><b>Interpolation</b></td><td>t</td><td>Interpolation factor</td><td>Number</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Date</b></td><td>D</td><td>Interpolated Date & Time</td><td>Time</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>