<!DOCTYPE HTML>
<html>
<head>
  <title>Item Index - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="Item Index - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div class="topheader"></div>

<div class="page">

<div class="content">

<div class="header">
<h1><img src="../../icons/Mathematics/ItemIndex.png"/> Item Index</h1>
<p><a href="../../index.html">Component Index</a> &gt; Grasshopper > Sets > List > <b>Index</b></p>
</div>

<h3>Retrieve the index of a certain item in a list.</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>List</b></td><td>L</td><td>List to search</td><td>List of Generic</td></tr>
<tr><td><b>Item</b></td><td>i</td><td>Item to search for</td><td>Generic</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Index</b></td><td>i</td><td>The index of item in the list, or -1 if the item could not be found.</td><td>Integer</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>