<!DOCTYPE HTML>
<html>
<head>
  <title>Key/Value Search - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="Key/Value Search - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div class="topheader"></div>

<div class="page">

<div class="content">

<div class="header">
<h1><img src="../../icons/Mathematics/FindKeyValue.png"/> Key/Value Search</h1>
<p><a href="../../index.html">Component Index</a> &gt; Grasshopper > Sets > Sets > <b>KeySearch</b></p>
</div>

<h3>Extract an item from a collection using a key-value match</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Keys</b></td><td>K</td><td>A list of key values.</td><td>List of Generic</td></tr>
<tr><td><b>Values</b></td><td>V</td><td>A list of value data, one for each key.</td><td>List of Generic</td></tr>
<tr><td><b>Search</b></td><td>S</td><td>A key value to search for</td><td>Generic</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Result</b></td><td>R</td><td>Resulting item in the value list that matches the Search key</td><td>Generic</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>