<!DOCTYPE HTML>
<html>
<head>
  <title>Relative Items - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="Relative Items - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div class="topheader"></div>

<div class="page">

<div class="content">

<div class="header">
<h1><img src="../../icons/Mathematics/RelativeItem2.png"/> Relative Items</h1>
<p><a href="../../index.html">Component Index</a> &gt; Grasshopper > Sets > Tree > <b>RelItem2</b></p>
</div>

<h3>Retrieve a relative item combo from two data trees</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Tree A</b></td><td>A</td><td>First Data Tree</td><td>Tree of Generic</td></tr>
<tr><td><b>Tree B</b></td><td>B</td><td>Second Data Tree</td><td>Tree of Generic</td></tr>
<tr><td><b>Offset</b></td><td>O</td><td>Relative offset for item combo</td><td>Text</td></tr>
<tr><td><b>Wrap Paths</b></td><td>Wp</td><td>Wrap paths when the shift is out of bounds</td><td>Boolean</td></tr>
<tr><td><b>Wrap Items</b></td><td>Wi</td><td>Wrap items when the shift is out of bounds</td><td>Boolean</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Item A</b></td><td>A</td><td>Item in tree A</td><td>Tree of Generic</td></tr>
<tr><td><b>Item B</b></td><td>B</td><td>Relative item in tree B</td><td>Tree of Generic</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>