<!DOCTYPE HTML>
<html>
<head>
  <title>Split List - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="Split List - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div class="topheader"></div>

<div class="page">

<div class="content">

<div class="header">
<h1><img src="../../icons/Mathematics/ListSplit.png"/> Split List</h1>
<p><a href="../../index.html">Component Index</a> &gt; Mathematics > Sets > List > <b>Split</b></p>
</div>

<h3>Split a list into separate parts.</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>List</b></td><td>L</td><td>Base list</td><td>List of Generic</td></tr>
<tr><td><b>Index</b></td><td>i</td><td>Splitting index</td><td>Integer</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>List A</b></td><td>A</td><td>Items to the left of (i)</td><td>List of Generic</td></tr>
<tr><td><b>List B</b></td><td>B</td><td>Items to the right of and including (i)</td><td>List of Generic</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>