<!DOCTYPE HTML>
<html>
<head>
  <title>Text Fragment - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="Text Fragment - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div id="topheader"></div>

<div id="page">

<div id="content">

<div id="header">
<h1><img src="../../icons/Mathematics/SubString.png"/> Text Fragment</h1>
<p><a href="../../index.html">Component Index</a> &gt; Sets > Text > <b>Fragment</b></p>
</div>

<h3>Extract a fragment (subset) of some text</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Text</b></td><td>T</td><td>Text to operate on.</td><td>Text</td></tr>
<tr><td><b>Start</b></td><td>i</td><td>Zero based index of first character to copy.</td><td>Integer</td></tr>
<tr><td><b>Count</b></td><td>N</td><td>Optional number of characters to copy. If blank, the entire remainder will be copied.</td><td>Integer</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Fragment</b></td><td>F</td><td>The resulting text fragment</td><td>Text</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>