<!DOCTYPE HTML>
<html>
<head>
  <title>Text Split - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="Text Split - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div class="topheader"></div>

<div class="page">

<div class="content">

<div class="header">
<h1><img src="../../icons/Mathematics/StringSplit.png"/> Text Split</h1>
<p><a href="../../index.html">Component Index</a> &gt; Grasshopper > Sets > Text > <b>Split</b></p>
</div>

<h3>Split some text into fragments using separators</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Text</b></td><td>T</td><td>Text to split.</td><td>Text</td></tr>
<tr><td><b>Separators</b></td><td>C</td><td>Separator characters.</td><td>Text</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Result</b></td><td>R</td><td>Resulting text fragments</td><td>List of Text</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>