<!DOCTYPE HTML>
<html>
<head>
  <title>Text Case - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="Text Case - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div id="topheader"></div>

<div id="page">

<div id="content">

<div id="header">
<h1><img src="../../icons/Mathematics/StringCasing.png"/> Text Case</h1>
<p><a href="../../index.html">Component Index</a> &gt; Sets > Text > <b>Case</b></p>
</div>

<h3>Change the CaSiNg of a piece of text</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Text</b></td><td>T</td><td>Text to modify</td><td>Text</td></tr>
<tr><td><b>Culture</b></td><td>C</td><td>Cultural rules for text casing</td><td>Culture</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Upper Case</b></td><td>U</td><td>Upper case representation of T</td><td>Text</td></tr>
<tr><td><b>Lower Case</b></td><td>L</td><td>Lower case representation of T</td><td>Text</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>