<!DOCTYPE HTML>
<html>
<head>
  <title>Blend Box - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="Blend Box - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div class="topheader"></div>

<div class="page">

<div class="content">

<div class="header">
<h1><img src="../../icons/Transform/BlendBox.png"/> Blend Box</h1>
<p><a href="../../index.html">Component Index</a> &gt; Grasshopper > Transform > Morph > <b>BlendBox</b></p>
</div>

<h3>Create a twisted box between two surfaces.</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Surface A</b></td><td>Sa</td><td>First surface</td><td>Surface</td></tr>
<tr><td><b>Domain A</b></td><td>Da</td><td>Domain on first surface</td><td>Interval2D</td></tr>
<tr><td><b>Surface B</b></td><td>Sb</td><td>Second surface</td><td>Surface</td></tr>
<tr><td><b>Domain B</b></td><td>Db</td><td>Domain on second surface</td><td>Interval2D</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Twisted Box</b></td><td>B</td><td>Resulting blend box</td><td></td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>