<!DOCTYPE HTML>
<html>
<head>
  <title>Move Away From - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="Move Away From - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div class="topheader"></div>

<div class="page">

<div class="content">

<div class="header">
<h1><img src="../../icons/Transform/MoveAwayFrom.png"/> Move Away From</h1>
<p><a href="../../index.html">Component Index</a> &gt; Grasshopper > Transform > Euclidean > <b>MoveAway</b></p>
</div>

<h3>Translate (move) an object away from another object.</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Geometry</b></td><td>G</td><td>Geometry to move</td><td>Geometry</td></tr>
<tr><td><b>Emitter</b></td><td>E</td><td>Geometry to move away from</td><td>Geometry</td></tr>
<tr><td><b>Distance</b></td><td>D</td><td>Distance to move (negative values move towards)</td><td>Number</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Geometry</b></td><td>G</td><td>Translated geometry</td><td>Geometry</td></tr>
<tr><td><b>Transform</b></td><td>X</td><td>Transformation data</td><td>Transform</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>