<!DOCTYPE HTML>
<html>
<head>
  <title>Orient Direction - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="Orient Direction - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div class="topheader"></div>

<div class="page">

<div class="content">

<div class="header">
<h1><img src="../../icons/Transform/OrientDir.png"/> Orient Direction</h1>
<p><a href="../../index.html">Component Index</a> &gt; Grasshopper > Transform > Affine > <b>Orient</b></p>
</div>

<h3>Orient an object using directional constraints only.</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Geometry</b></td><td>G</td><td>Base geometry</td><td>Geometry</td></tr>
<tr><td><b>Point A</b></td><td>pA</td><td>Reference point</td><td>Point</td></tr>
<tr><td><b>Direction A</b></td><td>dA</td><td>Reference direction</td><td>Vector</td></tr>
<tr><td><b>Point B</b></td><td>pB</td><td>Target point</td><td>Point</td></tr>
<tr><td><b>Direction B</b></td><td>dB</td><td>Target direction</td><td>Vector</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Geometry</b></td><td>G</td><td>Reoriented geometry</td><td>Geometry</td></tr>
<tr><td><b>Transform</b></td><td>X</td><td>Transformation data</td><td>Transform</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>