<!DOCTYPE HTML>
<html>
<head>
  <title>Split Group - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="Split Group - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div class="topheader"></div>

<div class="page">

<div class="content">

<div class="header">
<h1><img src="../../icons/Transform/Split_Group.png"/> Split Group</h1>
<p><a href="../../index.html">Component Index</a> &gt; Transform > Util > <b>Split Group</b></p>
</div>

<h3>Split a group</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>G</b></td><td></td><td>Group to split</td><td>Group</td></tr>
<tr><td><b>I</b></td><td></td><td>Split indices</td><td>Integer</td></tr>
<tr><td><b>W</b></td><td></td><td>Wrap indices</td><td>Boolean</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>A</b></td><td></td><td>Group including all the indices</td><td>Group</td></tr>
<tr><td><b>B</b></td><td></td><td>Group excluding all the indices (hidden)</td><td>Group</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>