<!DOCTYPE HTML>
<html>
<head>
  <title>SmartGrids - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="SmartGrids - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div class="topheader"></div>

<div class="page">

<div class="content">

<div class="header">
<h1><img src="../../icons/SmartForm/SmartGrids.png"/> SmartGrids</h1>
<p><a href="../../index.html">Component Index</a> &gt; SmartForm > 0 | Rhino to SmartMesh > <b>SmartGrids</b></p>
</div>

<h3>Generate multiple different gridtypes from a surface</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Surface</b></td><td>Srf</td><td>Surfaces to grid</td><td>List of Surface</td></tr>
<tr><td><b>Number U</b></td><td>No U</td><td>Number of cells in U-direction</td><td>Number</td></tr>
<tr><td><b>Number V</b></td><td>No V</td><td>Number of cells in V-direction</td><td>Number</td></tr>
<tr><td><b>Seed Point U</b></td><td>Pt U</td><td>U-Value of the seedpt</td><td>Number</td></tr>
<tr><td><b>Seed Point V</b></td><td>Pt V</td><td>V-Value of the seedpt</td><td>Number</td></tr>
<tr><td><b>First Angle</b></td><td>1 ang</td><td>Angle of the first seedcurve</td><td>Number</td></tr>
<tr><td><b>Inner Angle</b></td><td>2 ang</td><td>Angle between the two seedcurves</td><td>Number</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>SmartMesh</b></td><td>SMesh</td><td>The meshed surface in the form of a SmartMesh</td><td>Parameternew SGMesh</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>