<!DOCTYPE HTML>
<html>
<head>
  <title>Replace Paths - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="Replace Paths - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div class="topheader"></div>

<div class="page">

<div class="content">

<div class="header">
<h1><img src="../../icons/Sets/Replace_Paths.png"/> Replace Paths</h1>
<p><a href="../../index.html">Component Index</a> &gt; Sets > Tree > <b>Replace Paths</b></p>
</div>

<h3>Find & replace paths in a data tree. This component support Path Masks, which are lines of text that represent allowed and disallowed path indices. Masks can support both single digits, <br>digit ranges, digits groups and wildcards. Masks consists of alternating index qualifiers and index separators. Separators must be commas or semi-colons.</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>D</b></td><td></td><td>Data stream to process</td><td>Generic Data</td></tr>
<tr><td><b>S</b></td><td></td><td>Search masks</td><td>Text</td></tr>
<tr><td><b>R</b></td><td></td><td>Respective replacement paths</td><td>Path</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>D</b></td><td></td><td>Processed tree data</td><td>Generic Data</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>