<!DOCTYPE HTML>
<html>
<head>
  <title>Split Tree - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="Split Tree - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div class="topheader"></div>

<div class="page">

<div class="content">

<div class="header">
<h1><img src="../../icons/Sets/Split_Tree.png"/> Split Tree</h1>
<p><a href="../../index.html">Component Index</a> &gt; Sets > Tree > <b>Split Tree</b></p>
</div>

<h3>Split a data tree into two parts using path masks.</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>D</b></td><td></td><td>Tree to split</td><td>Generic Data</td></tr>
<tr><td><b>M</b></td><td></td><td>Splitting masks</td><td>Text</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>P</b></td><td></td><td>Positive set of data (all branches that match any of the masks)</td><td>Generic Data</td></tr>
<tr><td><b>N</b></td><td></td><td>Negative set of data (all branches that do not match any of the masks</td><td>Generic Data</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>