<!DOCTYPE HTML>
<html>
<head>
  <title>SPM Particle Life Time Settings - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="SPM Particle Life Time Settings - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div class="topheader"></div>

<div class="page">

<div class="content">

<div class="header">
<h1><img src="../../icons/SPM/Particle_Settings.png"/> SPM Particle Life Time Settings</h1>
<p><a href="../../index.html">Component Index</a> &gt; SPM > Integration > <b>PrtS</b></p>
</div>

<h3>Settings to control the lifetime behaviour of particles</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Respawn</b></td><td></td><td>True if the particles should be respawned when they reach the end of their lifetimes</td><td>Boolean</td></tr>
<tr><td><b>NewSpK</b></td><td></td><td>Steps between spawning a new set of particles at the start points (0 to disable)</td><td>Integer</td></tr>
<tr><td><b>RndSp</b></td><td></td><td>Randomly add or subtract up to this number from the new spawn time to create random distributions of particles (0 to disable)</td><td>Integer</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>S</b></td><td></td><td>Settings output to wire to a SPM vector field integration component</td><td>Generic Data</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>