<!DOCTYPE HTML>
<html>
<head>
  <title>SPM Vector Field Integration - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="SPM Vector Field Integration - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div class="topheader"></div>

<div class="page">

<div class="content">

<div class="header">
<h1><img src="../../icons/SPM/SPM_Integration.png"/> SPM Vector Field Integration</h1>
<p><a href="../../index.html">Component Index</a> &gt; SPM > Integration > <b>SPM Integration</b></p>
</div>

<h3>Statically or dynamically integrates points travelling through a vector field</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>P</b></td><td></td><td>List of points in the vector field (parallel to VT)</td><td>Point</td></tr>
<tr><td><b>VT</b></td><td></td><td>List of vectors or tensors in the vector field (parallel to P)</td><td>Generic Data</td></tr>
<tr><td><b>SP</b></td><td></td><td>Points to simulate travelling through the vector field</td><td>Point</td></tr>
<tr><td><b>LT</b></td><td></td><td>Number of iterations for each particle to exist, by default these are respawned at their original start points when this time is up</td><td>Integer</td></tr>
<tr><td><b>D</b></td><td></td><td>List of dynamics to modify the vector field with</td><td>Generic Data</td></tr>
<tr><td><b>S</b></td><td></td><td>List of settings objects to customize integration parameters</td><td>Generic Data</td></tr>
<tr><td><b>DI</b></td><td></td><td>Dynamically simulate the integration, one step at a time. If true, each run will integrate a series of particles for lifetime of LT. If false then the integration will run once and return all points at once. In this case LT is the number of steps to integrate.</td><td>Boolean</td></tr>
<tr><td><b>RS</b></td><td></td><td>Reset the simulation to the starting point. This is only used when in dynamic integration mode (DI is true)</td><td>Boolean</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>PT</b></td><td></td><td>The Travelling points after they have travelled [step] iterations</td><td>Point</td></tr>
<tr><td><b>VT</b></td><td></td><td>The resultant vectors for each point during the simulation</td><td>Vector</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>