<!DOCTYPE HTML>
<html>
<head>
  <title>Surface Attraction - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="Surface Attraction - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div class="topheader"></div>

<div class="page">

<div class="content">

<div class="header">
<h1><img src="../../icons/SPM/Surface_Attraction.png"/> Surface Attraction</h1>
<p><a href="../../index.html">Component Index</a> &gt; SPM > Dynamics > <b>SAtt</b></p>
</div>

<h3>A post-processing dynamic which causes integration to be attracted (or repulsed) from surfaces</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>S</b></td><td></td><td>List of surfaces to prevent collisions with</td><td>Surface</td></tr>
<tr><td><b>A</b></td><td></td><td>Attraction strength of the surfaces</td><td>Number</td></tr>
<tr><td><b>D</b></td><td></td><td>Power of the attraction strength as a function of the distance</td><td>Number</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>D</b></td><td></td><td>Parameters used to modify the vector field of the Vector Field Creater that this must be wired into</td><td>Generic Data</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>