<!DOCTYPE HTML>
<html>
<head>
  <title>Vector Field Creator - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="Vector Field Creator - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div class="topheader"></div>

<div class="page">

<div class="content">

<div class="header">
<h1><img src="../../icons/SPM/Vector_Field_Creator.png"/> Vector Field Creator</h1>
<p><a href="../../index.html">Component Index</a> &gt; SPM > Utilities > <b>VFC</b></p>
</div>

<h3>Modifies or creates a new vector field</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>P</b></td><td></td><td>List of points, where each point relates to a vector (parallel to V)</td><td>Point</td></tr>
<tr><td><b>V</b></td><td></td><td>List of vectors, where each vector relates to a point (parallel to P)</td><td>Vector</td></tr>
<tr><td><b>D</b></td><td></td><td>List of dynamics to modify the vector field with</td><td>Generic Data</td></tr>
<tr><td><b>S</b></td><td></td><td>Optional surface to create geodesic curves between points in space instead of direct lines</td><td>Surface</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>P</b></td><td></td><td>Output points (parallel to V)</td><td>Point</td></tr>
<tr><td><b>V</b></td><td></td><td>Resultant field of vectors (parallel to P)</td><td>Vector</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>