<!DOCTYPE HTML>
<html>
<head>
  <title>Fitness Landscape - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="Fitness Landscape - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div id="topheader"></div>

<div id="page">

<div id="content">

<div id="header">
<h1><img src="../../icons/GalapagosLibrary/FitnessLandscape.png"/> Fitness Landscape</h1>
<p><a href="../../index.html">Component Index</a> &gt; Params > Util > <b>LScape</b></p>
</div>

<h3>Display a 2.5D fitness landscape</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Bounds</b></td><td>B</td><td>Landscape bounds</td><td>Rectangle</td></tr>
<tr><td><b>Values</b></td><td>V</td><td>Landscape values</td><td>List of Number</td></tr>
<tr><td><b>Count</b></td><td>N</td><td>Number of samples along X direction</td><td>Integer</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Landscape</b></td><td>L</td><td>Landscaper mesh</td><td>Mesh</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>