<!DOCTYPE HTML>
<html>
<head>
  <title>BiArc - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="BiArc - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div class="topheader"></div>

<div class="page">

<div class="content">

<div class="header">
<h1><img src="../../icons/Curve/BiArc.png"/> BiArc</h1>
<p><a href="../../index.html">Component Index</a> &gt; Curve > Curve > Primitive > <b>BiArc</b></p>
</div>

<h3>Create a bi-arc based on endpoints and tangents.</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Start Point</b></td><td>S</td><td>Start point of bi-arc.</td><td>Point</td></tr>
<tr><td><b>Start Tangent</b></td><td>Ts</td><td>Tangent vector at start of bi-arc.</td><td>Vector</td></tr>
<tr><td><b>End Point</b></td><td>E</td><td>End point of bi-arc.</td><td>Point</td></tr>
<tr><td><b>End Tangent</b></td><td>Te</td><td>Tangent vector at end of bi-arc.</td><td>Vector</td></tr>
<tr><td><b>Ratio</b></td><td>R</td><td>Ratio of bi-arc segment weight</td><td>Number</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>First arc</b></td><td>A1</td><td>First segment of bi-arc curve</td><td>Arc</td></tr>
<tr><td><b>Second arc</b></td><td>A2</td><td>Segment segment of bi-arc curve</td><td>Arc</td></tr>
<tr><td><b>Bi-Arc</b></td><td>B</td><td>Resulting bi-arc.</td><td>Curve</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>