<!DOCTYPE HTML>
<html>
<head>
  <title>Ellipse - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="Ellipse - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div class="topheader"></div>

<div class="page">

<div class="content">

<div class="header">
<h1><img src="../../icons/Curve/Ellipse.png"/> Ellipse</h1>
<p><a href="../../index.html">Component Index</a> &gt; Grasshopper > Curve > Primitive > <b>Ellipse</b></p>
</div>

<h3>Create an ellipse defined by base plane and two radii.</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Plane</b></td><td>P</td><td>Base plane of ellipse</td><td>Plane</td></tr>
<tr><td><b>Radius 1</b></td><td>R1</td><td>Radius in {x} direction</td><td>Number</td></tr>
<tr><td><b>Radius 2</b></td><td>R2</td><td>Radius in {y} direction</td><td>Number</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Ellipse</b></td><td>E</td><td>Resulting ellipse</td><td>Curve</td></tr>
<tr><td><b>Focus 1</b></td><td>F1</td><td>First focus point</td><td>Point</td></tr>
<tr><td><b>Focus 2</b></td><td>F2</td><td>Second focus point</td><td>Point</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>