<!DOCTYPE HTML>
<html>
<head>
  <title>Evaluate Length - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="Evaluate Length - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div id="topheader"></div>

<div id="page">

<div id="content">

<div id="header">
<h1><img src="../../icons/Curve/ArcLength.png"/> Evaluate Length</h1>
<p><a href="../../index.html">Component Index</a> &gt; Curve > Analysis > <b>Eval</b></p>
</div>

<h3>Evaluate a curve at a certain factor along its length. Length factors can be supplied both in curve units and normalized units. Change the [N] parameter to toggle between the two modes.</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Curve</b></td><td>C</td><td>Curve to evaluate</td><td>Curve</td></tr>
<tr><td><b>Length</b></td><td>L</td><td>Length factor for curve evaluation</td><td>Number</td></tr>
<tr><td><b>Normalized</b></td><td>N</td><td>If True, the Length factor is normalized (0.0 ~ 1.0)</td><td>Boolean</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Point</b></td><td>P</td><td>Point at the specified length</td><td>Point</td></tr>
<tr><td><b>Tangent</b></td><td>T</td><td>Tangent vector at the specified length</td><td>Vector</td></tr>
<tr><td><b>Parameter</b></td><td>t</td><td>Curve parameter at the specified length</td><td>Number</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>