<!DOCTYPE HTML>
<html>
<head>
  <title>Extend Curve - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="Extend Curve - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div id="topheader"></div>

<div id="page">

<div id="content">

<div id="header">
<h1><img src="../../icons/Curve/ExtendCurve.png"/> Extend Curve</h1>
<p><a href="../../index.html">Component Index</a> &gt; Curve > Util > <b>Ext</b></p>
</div>

<h3>Extend a curve by a specified distance.</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Curve</b></td><td>C</td><td>Curve to extend</td><td>Curve</td></tr>
<tr><td><b>Type</b></td><td>T</td><td>Type of extension (0=Line, 1=Arc, 2=Smooth)</td><td>Integer</td></tr>
<tr><td><b>Start</b></td><td>L0</td><td>Extension length at start of curve</td><td>Number</td></tr>
<tr><td><b>End</b></td><td>L1</td><td>Extension length at end of curve</td><td>Number</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Curve</b></td><td>C</td><td>Extended curve</td><td>Curve</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>