<!DOCTYPE HTML>
<html>
<head>
  <title>Point In Curve - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="Point In Curve - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div class="topheader"></div>

<div class="page">

<div class="content">

<div class="header">
<h1><img src="../../icons/Curve/CurvePointRelation.png"/> Point In Curve</h1>
<p><a href="../../index.html">Component Index</a> &gt; Curve > Curve > Analysis > <b>InCurve</b></p>
</div>

<h3>Test a point for closed curve containment.</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Point</b></td><td>P</td><td>Point for region inclusion test</td><td>Point</td></tr>
<tr><td><b>Curve</b></td><td>C</td><td>Boundary region (closed curves only)</td><td>Curve</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Relationship</b></td><td>R</td><td>Point/Region relationship (0 = outside, 1 = coincident, 2 = inside)</td><td>Integer</td></tr>
<tr><td><b>Point</b></td><td>P'</td><td>Point projected on region plane.</td><td>Point</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>