<!DOCTYPE HTML>
<html>
<head>
  <title>Rebuild Curve - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="Rebuild Curve - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div id="topheader"></div>

<div id="page">

<div id="content">

<div id="header">
<h1><img src="../../icons/Curve/RebuildCurve.png"/> Rebuild Curve</h1>
<p><a href="../../index.html">Component Index</a> &gt; Curve > Util > <b>ReB</b></p>
</div>

<h3>Rebuild a curve with a specific number of control-points.</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Curve</b></td><td>C</td><td>Curve to rebuild</td><td>Curve</td></tr>
<tr><td><b>Degree</b></td><td>D</td><td>Optional degree of curve (if omitted, input degree is used)</td><td>Integer</td></tr>
<tr><td><b>Count</b></td><td>N</td><td>Number of control points</td><td>Integer</td></tr>
<tr><td><b>Tangents</b></td><td>T</td><td>Preserve curve end tangents</td><td>Boolean</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Curve</b></td><td>C</td><td>Rebuild curve</td><td>Curve</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>