<!DOCTYPE HTML>
<html>
<head>
  <title>Swing Arc - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="Swing Arc - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div id="topheader"></div>

<div id="page">

<div id="content">

<div id="header">
<h1> Swing Arc</h1>
<p><a href="../../index.html">Component Index</a> &gt; Curve > Spline > <b>Swing</b></p>
</div>

<h3>Create a polycurve consisting of arcs defined by center points.</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Centers</b></td><td>C</td><td>Center points for swing arc segments</td><td>List of Point</td></tr>
<tr><td><b>Plane</b></td><td>P</td><td>Optional plane for swing arc solution. If omitted, the best fit plane is used.</td><td>Plane</td></tr>
<tr><td><b>Radius</b></td><td>R</td><td>Radius for first swing segment</td><td>Number</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Curve A</b></td><td>A</td><td>First resulting swing arc curve</td><td>Curve</td></tr>
<tr><td><b>Curve B</b></td><td>B</td><td>Second resulting swing arc curve</td><td>Curve</td></tr>
<tr><td><b>Circles</b></td><td>C</td><td>Tangent circles that define the swing curves</td><td>List of Circle</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>