<!DOCTYPE HTML>
<html>
<head>
  <title>Mesh Pipe - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="Mesh Pipe - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div class="topheader"></div>

<div class="page">

<div class="content">

<div class="header">
<h1><img src="../../icons/Meshtools/ikona24.png"/> Mesh Pipe</h1>
<p><a href="../../index.html">Component Index</a> &gt; Meshtools > Primitive > <b>MPipe</b></p>
</div>

<h3>Create a mesh pipe.</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Curve</b></td><td>C</td><td>Any type of curve</td><td>Curve</td></tr>
<tr><td><b>Radius</b></td><td>R</td><td>Pipe radius</td><td>Number</td></tr>
<tr><td><b>Accuracy</b></td><td>A</td><td>Accuracy defined by angle</td><td>Number</td></tr>
<tr><td><b>Rotation</b></td><td>P</td><td>Profile rotation</td><td>Number</td></tr>
<tr><td><b>Segments</b></td><td>S</td><td>Number of segments</td><td>Integer</td></tr>
<tr><td><b>Caps</b></td><td>E</td><td>0 = none, 1 = flat, 2 = round</td><td>Integer</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>