<!DOCTYPE HTML>
<html>
<head>
  <title>DataTreeToGraph - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="DataTreeToGraph - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div class="topheader"></div>

<div class="page">

<div class="content">

<div class="header">
<h1><img src="../../icons/SpiderWeb/graphFormDatatree.png"/> DataTreeToGraph</h1>
<p><a href="../../index.html">Component Index</a> &gt; SpiderWeb > SpiderWebBasic > <b>DTG</b></p>
</div>

<h3>parse a DataTree</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>DataTree</b></td><td>T</td><td>DataTree to built the Graph from</td><td>Tree of Generic</td></tr>
<tr><td><b>Cost</b></td><td>C</td><td>Edge costs of the Graph. Structure must match the Structure of T</td><td>Tree of Number</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>G</b></td><td></td><td>Graph representation of DataTree</td><td>Generic Data</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>