<!DOCTYPE HTML>
<html>
<head>
  <title>Display visualGraph - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="Display visualGraph - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div class="topheader"></div>

<div class="page">

<div class="content">

<div class="header">
<h1><img src="../../icons/SpiderWeb/VGProperties.png"/> Display visualGraph</h1>
<p><a href="../../index.html">Component Index</a> &gt; SpiderWeb > SpiderWebDisplay > <b>dVG</b></p>
</div>

<h3>Display visualGraph</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>visualGraph</b></td><td>vG</td><td>visualGraph representation</td><td></td></tr>
<tr><td><b>gridCells</b></td><td>gC</td><td>Grid Cells</td><td>List of Rectangle</td></tr>
<tr><td><b>Value</b></td><td>V</td><td>Value to Display</td><td>List, double of Number</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>VC</b></td><td></td><td>number of Vertices in the Graph</td><td>Integer</td></tr>
<tr><td><b>EC</b></td><td></td><td>number of Edges in the Graph</td><td>Integer</td></tr>
<tr><td><b>W</b></td><td></td><td>Width</td><td>Integer</td></tr>
<tr><td><b>H</b></td><td></td><td>Height</td><td>Integer</td></tr>
<tr><td><b>V</b></td><td></td><td>Values</td><td>Number</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>