<!DOCTYPE HTML>
<html>
<head>
  <title>graphFromLines - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="graphFromLines - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div class="topheader"></div>

<div class="page">

<div class="content">

<div class="header">
<h1><img src="../../icons/SpiderWeb/graphFromLines.png"/> graphFromLines</h1>
<p><a href="../../index.html">Component Index</a> &gt; SpiderWeb > SpiderWebBasic > <b>gFL</b></p>
</div>

<h3>create a graph from a set of connected lines</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>ConnectionLines</b></td><td>L</td><td>Lines to build a graph from</td><td>List of Line</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>G</b></td><td></td><td>Graph representation of lines</td><td>Generic Data</td></tr>
<tr><td><b>GP</b></td><td></td><td>3d points of the graph</td><td>Point</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>