<!DOCTYPE HTML>
<html>
<head>
  <title>recursiveShadowCasting - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="recursiveShadowCasting - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div class="topheader"></div>

<div class="page">

<div class="content">

<div class="header">
<h1><img src="../../icons/SpiderWeb/RSC.png"/> recursiveShadowCasting</h1>
<p><a href="../../index.html">Component Index</a> &gt; SpiderWeb > SpiderWebTools > <b>RSC</b></p>
</div>

<h3>preformes recursive shadow casting on a visualGraph</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>visualGraph</b></td><td>vG</td><td>visualGraph representation</td><td></td></tr>
<tr><td><b>StartPoints</b></td><td>SP</td><td>Index of Starting Points</td><td>List of Integer</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>vG</b></td><td></td><td>visualGraph representation</td><td>Generic Data</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>