<!DOCTYPE HTML>
<html>
<head>
  <title>Brep parameter - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="Brep parameter - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div class="topheader"></div>

<div class="page">

<div class="content">

<div class="header">
<h1><img src="../../icons/Params/Brep_parameter.png"/> Brep parameter</h1>
<p><a href="../../index.html">Component Index</a> &gt; Params > Geometry > <b>Brep parameter</b></p>
</div>

<h3>Represents a collection of <a/ href="http://en.wikipedia.org/wiki/Boundary_representation" target="_blank">Brep geometry</a>. Brep stands for 'Boundary REPresentation' and all surfaces and polysurfaces in Rhino are Breps. If a Brep has only one face, it is considered a surface in Grasshopper.<br></FONT></FONT></P></h3>

<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>