<!DOCTYPE HTML>
<html>
<head>
  <title>Digit Scroller - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="Digit Scroller - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div class="topheader"></div>

<div class="page">

<div class="content">

<div class="header">
<h1><img src="../../icons/Params/Digit_Scroller.png"/> Digit Scroller</h1>
<p><a href="../../index.html">Component Index</a> &gt; Params > Input > <b>Digit Scroller</b></p>
</div>

<h3>A scroller is a special interface object that allows for quick setting of individual numeric values. You can change the values by dragging the digits up or down, by dragging the radix point left and right, by clicking on the sign symbol or by double clicking and entering a numeric expression. Note that scroller only have output grips.<br></FONT></FONT></P></h3>

<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>