<!DOCTYPE HTML>
<html>
<head>
  <title>Geometry parameter - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="Geometry parameter - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div class="topheader"></div>

<div class="page">

<div class="content">

<div class="header">
<h1><img src="../../icons/Params/Geometry_parameter.png"/> Geometry parameter</h1>
<p><a href="../../index.html">Component Index</a> &gt; Params > Geometry > <b>Geometry parameter</b></p>
</div>

<h3>Represents a collection of 3D Geometry. Since new types of geometry are continually added, the preview and conversion algorithms of this parameter may be incomplete as it fails to recognize some data types that could -in a perfect world- have been treated like regular geometry.<br></FONT></FONT></P></h3>

<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>