<!DOCTYPE HTML>
<html>
<head>
  <title>Graph mapper - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="Graph mapper - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div class="topheader"></div>

<div class="page">

<div class="content">

<div class="header">
<h1><img src="../../icons/Params/Graph_mapper.png"/> Graph mapper</h1>
<p><a href="../../index.html">Component Index</a> &gt; Params > Input > <b>Graph mapper</b></p>
</div>

<h3>Graph mapper objects allow you to remap a set of numbers. By default the {x} and {y} domains of a graph function are unit domains (0.0 ~ 1.0), but these can be adjusted via the Graph Editor. Graph mappers can contain a single mapping function which can be picked through the context menu. Graphs typically have grips (little circles) which can be used to modify the variables that define the graph equation.</h3>

<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>