<!DOCTYPE HTML>
<html>
<head>
  <title>StreamLines2DVortex - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="StreamLines2DVortex - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div class="topheader"></div>

<div class="page">

<div class="content">

<div class="header">
<h1><img src="../../icons/FlowLines/StreamLines2DVortex.png"/> StreamLines2DVortex</h1>
<p><a href="../../index.html">Component Index</a> &gt; FlowLines > Extra FlowL > <b>StreamLines2DVortex</b></p>
</div>

<h3>Calculates 2D streamlines of a vectorfield projected onto World_xy_plane (implementation of RK4)with optional vortexes</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>P</b></td><td></td><td>Point charge locations</td><td>Point</td></tr>
<tr><td><b>C</b></td><td></td><td>Point charge values (+/-)</td><td>Number</td></tr>
<tr><td><b>V</b></td><td></td><td>Vortex rotation angle (in radians)</td><td>Number</td></tr>
<tr><td><b>X</b></td><td></td><td>Location of the startpoints for streamlines</td><td>Point</td></tr>
<tr><td><b>[D]</b></td><td></td><td>Damping value (leave blank for default)</td><td>Number</td></tr>
<tr><td><b>[I]</b></td><td></td><td>Number of iterations</td><td>Integer</td></tr>
<tr><td><b>[S]</b></td><td></td><td>Step size</td><td>Number</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>O</b></td><td></td><td>StreamLines2D</td><td>Curve</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>