<!DOCTYPE HTML>
<html>
<head>
  <title>Atom Data - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="Atom Data - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div class="topheader"></div>

<div class="page">

<div class="content">

<div class="header">
<h1><img src="../../icons/IOLibrary/AtomData.png"/> Atom Data</h1>
<p><a href="../../index.html">Component Index</a> &gt; IOLibrary > Params > Input > <b>Atom</b></p>
</div>

<h3>Get detailed information for an atom</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Atom</b></td><td>A</td><td>Atom to evaluate</td><td></td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Point</b></td><td>P</td><td>Location of atom</td><td>Point</td></tr>
<tr><td><b>Element</b></td><td>E</td><td>Element name of atom</td><td>Text</td></tr>
<tr><td><b>Chain</b></td><td>C</td><td>Chain ID to which this atom belongs</td><td>Text</td></tr>
<tr><td><b>Residue</b></td><td>R</td><td>Residue name to which this atom belongs</td><td>Text</td></tr>
<tr><td><b>Charge</b></td><td>e</td><td>Charge of this atom</td><td>Integer</td></tr>
<tr><td><b>Occupancy</b></td><td>O</td><td>Occupancy of this atom</td><td>Number</td></tr>
<tr><td><b>Temperature</b></td><td>T</td><td>Temperature factor of this atom</td><td>Number</td></tr>
<tr><td><b>Atomic Number</b></td><td>AN</td><td>Atomic number of atom</td><td>Integer</td></tr>
<tr><td><b>Serial Number</b></td><td>SN</td><td>Atom serial number</td><td>Integer</td></tr>
<tr><td><b>Residue Number</b></td><td>RN</td><td>Residue serial number</td><td>Integer</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>