<!DOCTYPE HTML>
<html>
<head>
  <title>Import Image - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="Import Image - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div id="topheader"></div>

<div id="page">

<div id="content">

<div id="header">
<h1><img src="../../icons/IOLibrary/ImportImage.png"/> Import Image</h1>
<p><a href="../../index.html">Component Index</a> &gt; Params > Input > <b>IMG</b></p>
</div>

<h3>Import image data from bmp, jpg or png files.</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>File</b></td><td>F</td><td>Location of image file</td><td></td></tr>
<tr><td><b>Rectangle</b></td><td>R</td><td>Optional image destination rectangle</td><td>Rectangle</td></tr>
<tr><td><b>X Samples</b></td><td>X</td><td>Number of samples along image X direction</td><td>Integer</td></tr>
<tr><td><b>Y Samples</b></td><td>Y</td><td>Number of samples along image Y direction</td><td>Integer</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Image</b></td><td>I</td><td>A mesh representation of the image</td><td>Mesh</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>