<!DOCTYPE HTML>
<html>
<head>
  <title>Import 3DM - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="Import 3DM - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div class="topheader"></div>

<div class="page">

<div class="content">

<div class="header">
<h1><img src="../../icons/IOLibrary/Import3DM.png"/> Import 3DM</h1>
<p><a href="../../index.html">Component Index</a> &gt; IOLibrary > Params > Input > <b>3DM</b></p>
</div>

<h3>Import geometry from Rhino 3dm files.</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>File</b></td><td>F</td><td>Location of Rhino 3dm file</td><td></td></tr>
<tr><td><b>Layer</b></td><td>L</td><td>Layer name filter</td><td>Text</td></tr>
<tr><td><b>Name</b></td><td>N</td><td>Object name filter</td><td>Text</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Geometry</b></td><td>G</td><td>Imported geometry</td><td>List of Geometry</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>