<!DOCTYPE HTML>
<html>
<head>
  <title>Orthocentre - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="Orthocentre - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div class="topheader"></div>

<div class="page">

<div class="content">

<div class="header">
<h1><img src="../../icons/Maths/Orthocentre.png"/> Orthocentre</h1>
<p><a href="../../index.html">Component Index</a> &gt; Maths > Trig > <b>Orthocentre</b></p>
</div>

<h3>Generate the triangle orthocentre from altitudes.</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>A</b></td><td></td><td>First triangle corner</td><td>Point</td></tr>
<tr><td><b>B</b></td><td></td><td>Second triangle corner</td><td>Point</td></tr>
<tr><td><b>C</b></td><td></td><td>Third triangle corner</td><td>Point</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>C</b></td><td></td><td>Orthocentre point for triangle</td><td>Point</td></tr>
<tr><td><b>AB</b></td><td></td><td>Altitude line connecting edge AB with corner C</td><td>Line</td></tr>
<tr><td><b>BC</b></td><td></td><td>Altitude line connecting edge BC with corner A</td><td>Line</td></tr>
<tr><td><b>CA</b></td><td></td><td>Altitude line connecting edge CA with corner B</td><td>Line</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>