<!DOCTYPE HTML>
<html>
<head>
  <title>Coordinates 3D - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="Coordinates 3D - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div class="topheader"></div>

<div class="page">

<div class="content">

<div class="header">
<h1><img src="../../icons/PanelingTools/Coordinates_3D.png"/> Coordinates 3D</h1>
<p><a href="../../index.html">Component Index</a> &gt; Paneling Tools > PanelingTools Grid Utility > <b>Coordinates 3D</b></p>
</div>

<h3>Calculate x, y and z vectors for each 3D cell</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Gd1</b></td><td></td><td>Grid points</td><td>Point</td></tr>
<tr><td><b>Gd2</b></td><td></td><td>Grid points</td><td>Point</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>O</b></td><td></td><td>Origin of the coordinates</td><td>Point</td></tr>
<tr><td><b>X</b></td><td></td><td>x direction vector</td><td>Vector</td></tr>
<tr><td><b>Y</b></td><td></td><td>y direction vector</td><td>Vector</td></tr>
<tr><td><b>Z</b></td><td></td><td>z direction vector</td><td>Vector</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>