<!DOCTYPE HTML>
<html>
<head>
  <title>Grid Dir - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="Grid Dir - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div class="topheader"></div>

<div class="page">

<div class="content">

<div class="header">
<h1><img src="../../icons/PanelingTools/Grid_Dir.png"/> Grid Dir</h1>
<p><a href="../../index.html">Component Index</a> &gt; Paneling Tools > PanelingTools Grid Utility > <b>Grid Dir</b></p>
</div>

<h3>Reverse grid i and j directions</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Gd</b></td><td></td><td>Grid points</td><td>Point</td></tr>
<tr><td><b>iR</b></td><td></td><td>Reverse i direction</td><td>Boolean</td></tr>
<tr><td><b>jR</b></td><td></td><td>Reverse j direction</td><td>Boolean</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Gd</b></td><td></td><td>Paneling Grid</td><td>Point</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>