<!DOCTYPE HTML>
<html>
<head>
  <title>Morph 3D Mean - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="Morph 3D Mean - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div class="topheader"></div>

<div class="page">

<div class="content">

<div class="header">
<h1><img src="../../icons/PanelingTools/Morph_3D_Mean.png"/> Morph 3D Mean</h1>
<p><a href="../../index.html">Component Index</a> &gt; Paneling Tools > PanelingTools Panel 3D > <b>Morph 3D Mean</b></p>
</div>

<h3>Morph objects between 2 bounding grids using tween variations</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Gd1</b></td><td></td><td>First Grid points</td><td>Point</td></tr>
<tr><td><b>Gd2</b></td><td></td><td>Second Grid points</td><td>Point</td></tr>
<tr><td><b>W</b></td><td></td><td>Grid of normalized weights(0-1)</td><td>Number</td></tr>
<tr><td><b>SO</b></td><td></td><td>Start objects in order</td><td>Geometry</td></tr>
<tr><td><b>SBO</b></td><td></td><td>Start bounding object</td><td>Geometry</td></tr>
<tr><td><b>EO</b></td><td></td><td>Corresponding end objects</td><td>Geometry</td></tr>
<tr><td><b>EBO</b></td><td></td><td>End bounding object</td><td>Geometry</td></tr>
<tr><td><b>si</b></td><td></td><td>Shift in unit grid in i dir</td><td>Integer</td></tr>
<tr><td><b>sj</b></td><td></td><td>Shift in unit grid in j dir</td><td>Integer</td></tr>
<tr><td><b>p</b></td><td></td><td>Smooth morphing</td><td>Boolean</td></tr>
<tr><td><b>S1</b></td><td></td><td>First surface for Grid1 if smooth morphing</td><td>Surface</td></tr>
<tr><td><b>S2</b></td><td></td><td>Second surface for Grid2 if smooth morphing</td><td>Surface</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>O</b></td><td></td><td>Morphed objects</td><td>Geometry</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>