<!DOCTYPE HTML>
<html>
<head>
  <title>Morph 2D Map - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="Morph 2D Map - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div class="topheader"></div>

<div class="page">

<div class="content">

<div class="header">
<h1><img src="../../icons/PanelingTools/Morph_2D_Map.png"/> Morph 2D Map</h1>
<p><a href="../../index.html">Component Index</a> &gt; Paneling Tools > PanelingTools Panel 2D > <b>Morph 2D Map</b></p>
</div>

<h3>Morph list of curves to the corresponding grid cells</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Gd</b></td><td></td><td>Grid points</td><td>Point</td></tr>
<tr><td><b>PC</b></td><td></td><td>input pattern curves</td><td>Curve</td></tr>
<tr><td><b>F</b></td><td></td><td>Flatten grid into list of cells</td><td>Boolean</td></tr>
<tr><td><b>R</b></td><td></td><td>Repeat last module if short</td><td>Boolean</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>C</b></td><td></td><td>Morphed curves</td><td>Curve</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>