<!DOCTYPE HTML>
<html>
<head>
  <title>Planar Grid - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="Planar Grid - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div class="topheader"></div>

<div class="page">

<div class="content">

<div class="header">
<h1><img src="../../icons/PanelingTools/Planar_Grid.png"/> Planar Grid</h1>
<p><a href="../../index.html">Component Index</a> &gt; Paneling Tools > PanelingTools Grid > <b>Planar Grid</b></p>
</div>

<h3>Create planar grid</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>B</b></td><td></td><td>Grid base point</td><td>Point</td></tr>
<tr><td><b>Di</b></td><td></td><td>Row direction vector</td><td>Vector</td></tr>
<tr><td><b>Dj</b></td><td></td><td>Column direction vector</td><td>Vector</td></tr>
<tr><td><b>Si</b></td><td></td><td>Distance between rows</td><td>Number</td></tr>
<tr><td><b>Sj</b></td><td></td><td>Distance between columns</td><td>Number</td></tr>
<tr><td><b>Ei</b></td><td></td><td>Number  of rows</td><td>Integer</td></tr>
<tr><td><b>Ej</b></td><td></td><td>Number  of columns</td><td>Integer</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Gd</b></td><td></td><td>Paneling Grid</td><td>Point</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>