<!DOCTYPE HTML>
<html>
<head>
  <title>Surface Domain Chord Distance - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="Surface Domain Chord Distance - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div class="topheader"></div>

<div class="page">

<div class="content">

<div class="header">
<h1><img src="../../icons/PanelingTools/Surface_Domain_Chord_Distance.png"/> Surface Domain Chord Distance</h1>
<p><a href="../../index.html">Component Index</a> &gt; Paneling Tools > PanelingTools Grid > <b>Surface Domain Chord Distance</b></p>
</div>

<h3>Create grid from surface domain by chord or direct distance</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>S</b></td><td></td><td>Surface</td><td>Surface</td></tr>
<tr><td><b>uD</b></td><td></td><td>Length in u direction</td><td>Number</td></tr>
<tr><td><b>vD</b></td><td></td><td>Length in v direction</td><td>Number</td></tr>
<tr><td><b>P</b></td><td></td><td>Reference point</td><td>Point</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Gd</b></td><td></td><td>Paneling Grid</td><td>Point</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>