<!DOCTYPE HTML>
<html>
<head>
  <title>ClampAngle - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="ClampAngle - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div class="topheader"></div>

<div class="page">

<div class="content">

<div class="header">
<h1><img src="../../icons/Kangaroo2/angleclamp.png"/> ClampAngle</h1>
<p><a href="../../index.html">Component Index</a> &gt; Kangaroo2 > Goals > <b>ClampAngle</b></p>
</div>

<h3>Keep an angle between 2 lines within a given range</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>LineA</b></td><td>LineA</td><td>First line segment</td><td>Line</td></tr>
<tr><td><b>LineB</b></td><td>LineB</td><td>Second line segment</td><td>Line</td></tr>
<tr><td><b>UpperLimit</b></td><td>Upper</td><td>Maximum allowed angle in radians</td><td>Number</td></tr>
<tr><td><b>LowerLimit</b></td><td>Lower</td><td>Minimum allowed angle in radians</td><td>Number</td></tr>
<tr><td><b>Strength</b></td><td>Strength</td><td>Strength</td><td>Number</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>C</b></td><td></td><td>ClampAngle out</td><td>Generic Data</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>