<!DOCTYPE HTML>
<html>
<head>
  <title>Hinge - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="Hinge - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div class="topheader"></div>

<div class="page">

<div class="content">

<div class="header">
<h1><img src="../../icons/Kangaroo2/hinge.png"/> Hinge</h1>
<p><a href="../../index.html">Component Index</a> &gt; Kangaroo2 > Goals > <b>Hinge</b></p>
</div>

<h3>Hinge</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>FoldStart</b></td><td>FoldStart</td><td>FoldStart</td><td>Point</td></tr>
<tr><td><b>FoldEnd</b></td><td>FoldEnd</td><td>FoldEnd</td><td>Point</td></tr>
<tr><td><b>Tip1</b></td><td>Tip1</td><td>Tip1</td><td>Point</td></tr>
<tr><td><b>Tip2</b></td><td>Tip2</td><td>Tip2</td><td>Point</td></tr>
<tr><td><b>RestAngle</b></td><td>RestAngle</td><td>Rest angle - if none supplied, current angle will be used</td><td>Number</td></tr>
<tr><td><b>Strength</b></td><td>Strength</td><td>Strength</td><td>Number</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>H</b></td><td></td><td>Hinge out</td><td>Generic Data</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>