<!DOCTYPE HTML>
<html>
<head>
  <title>SolidPointCollide - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="SolidPointCollide - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div class="topheader"></div>

<div class="page">

<div class="content">

<div class="header">
<h1><img src="../../icons/Kangaroo2/solidpt.png"/> SolidPointCollide</h1>
<p><a href="../../index.html">Component Index</a> &gt; Kangaroo2 > Goals > <b>SPC</b></p>
</div>

<h3>Keep a set of points outside or inside a given Mesh</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Points</b></td><td>Points</td><td>Points to affect</td><td>List of Point</td></tr>
<tr><td><b>Solid</b></td><td>Solid</td><td>A closed solid (Brep or mesh)</td><td>Mesh</td></tr>
<tr><td><b>Interior</b></td><td>In</td><td>If false, points will be kept outside the solid. If true they will be kept inside</td><td>Boolean</td></tr>
<tr><td><b>Unidirectional</b></td><td>Uni</td><td>If true the mesh is used only as input, and is not itself affected by the collisions</td><td>Boolean</td></tr>
<tr><td><b>Strength</b></td><td>Strength</td><td>Strength</td><td>Number</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>S</b></td><td></td><td>S</td><td>Generic Data</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>