<!DOCTYPE HTML>
<html>
<head>
  <title>Fast Loop Start - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="Fast Loop Start - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div class="topheader"></div>

<div class="page">

<div class="content">

<div class="header">
<h1><img src="../../icons/Anemone/Loop_Start_Fast.png"/> Fast Loop Start</h1>
<p><a href="../../index.html">Component Index</a> &gt; Anemone > Fast > <b>FastLoopStart</b></p>
</div>

<h3>Loop Start</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Iterations</b></td><td>I</td><td>Loop iterations</td><td>Integer</td></tr>
<tr><td><b>Data</b></td><td>D0</td><td>Data to loop</td><td>Tree of Generic</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>></b></td><td>></td><td>Connect to Loop End</td><td>Parameternew Link</td></tr>
<tr><td><b>Counter</b></td><td>C</td><td>Counter</td><td>Integer</td></tr>
<tr><td><b>Data</b></td><td>D0</td><td>Data to loop</td><td>Tree of Generic</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>