<!DOCTYPE HTML>
<html>
<head>
  <title>Loop Output - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="Loop Output - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div class="topheader"></div>

<div class="page">

<div class="content">

<div class="header">
<h1><img src="../../icons/Anemone/Loop_Outputs.png"/> Loop Output</h1>
<p><a href="../../index.html">Component Index</a> &gt; Anemone > Internalized > <b>LoopOutput</b></p>
</div>

<h3>Set outputs for Run Loop<br>Note: As with all Loop End components, you have to provide some data for each input.</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Exit</b></td><td>E</td><td>Exit loop</td><td>Boolean</td></tr>
<tr><td><b>Data</b></td><td>D0</td><td>Data Stream</td><td>Tree of </td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>