<!DOCTYPE HTML>
<html>
<head>
  <title>Curve Extrapolation - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="Curve Extrapolation - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div class="topheader"></div>

<div class="page">

<div class="content">

<div class="header">
<h1><img src="../../icons/ASTools/ExtraIcon24x24.png"/> Curve Extrapolation</h1>
<p><a href="../../index.html">Component Index</a> &gt; ASTools > Curve > <b>CEx</b></p>
</div>

<h3>Extrapolates (extends) a curve</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Curve</b></td><td>C</td><td>Curve to extrapolate</td><td>Curve</td></tr>
<tr><td><b>Side</b></td><td>s</td><td>Side for the extrapolation as index (0-2)</td><td>Integer</td></tr>
<tr><td><b>Dimension</b></td><td>d</td><td>Dimension of the extrapolation -> absolut (f.e. 3 mm) or relative (f.e. factor 1.5)</td><td>Number</td></tr>
<tr><td><b>hasRelativDim</b></td><td>b</td><td>Toggles if the Dimension is relativ or absolut</td><td>Boolean</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Curve</b></td><td>C</td><td>Extrapolated curve</td><td>Curve</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>