<!DOCTYPE HTML>
<html>
<head>
  <title>Fillet Constant Radius - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="Fillet Constant Radius - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div class="topheader"></div>

<div class="page">

<div class="content">

<div class="header">
<h1><img src="../../icons/ASTools/FilletIcon24x24.png"/> Fillet Constant Radius</h1>
<p><a href="../../index.html">Component Index</a> &gt; ASTools > Surface > <b>FCR</b></p>
</div>

<h3>Creates a surfacefillet with constant radius</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Surface A</b></td><td>A</td><td>Surface A to fillet. Need to intersect with surface B!</td><td>Surface</td></tr>
<tr><td><b>Surface B</b></td><td>B</td><td>Surface B to fillet. Need to intersect with surface A!</td><td>Surface</td></tr>
<tr><td><b>Radius</b></td><td>r</td><td>Radius of the fillet</td><td>Number</td></tr>
<tr><td><b>Side</b></td><td>i</td><td>At the intersecting curves, there are up to 4 possibilities to create a fillet (index 0-3)</td><td>Integer</td></tr>
<tr><td><b>Curvature Matching</b></td><td>bCM</td><td>Bezierfillets can be matched to curvature</td><td>Boolean</td></tr>
<tr><td><b>hasBezierArc</b></td><td>bBA</td><td>Prefering an bezierarcs over nurbsarc? Bezierarcs sligthly differ from a real circle, but they stay non-rational. \n This makes it easier to work with, when creating f.e. filletedges</td><td>Boolean</td></tr>
<tr><td><b>Order</b></td><td>o</td><td> if the order is between 3 and 12,the resulting shape will be simplyfied. Any other number keeps it exact.</td><td>Integer</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Fillets</b></td><td>F</td><td>Fillet</td><td>List of Surface</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>