<!DOCTYPE HTML>
<html>
<head>
  <title>Fillet Nurbsarc - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="Fillet Nurbsarc - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div class="topheader"></div>

<div class="page">

<div class="content">

<div class="header">
<h1><img src="../../icons/ASTools/FilletNAIcon24x24.png"/> Fillet Nurbsarc</h1>
<p><a href="../../index.html">Component Index</a> &gt; ASTools > Curve > <b>FNa</b></p>
</div>

<h3>Creates an Nurbsarc between two intersecting curves</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Curve A</b></td><td>A</td><td>Curve A to fillet. Need to intersect with curve B!</td><td>Curve</td></tr>
<tr><td><b>Curve B</b></td><td>B</td><td>Curve B to fillet. Need to intersect with curve A!</td><td>Curve</td></tr>
<tr><td><b>Radius</b></td><td>r</td><td>Radius of the fillet</td><td>Number</td></tr>
<tr><td><b>Side</b></td><td>i</td><td>At the intersecting curves, there are up to 4 possibilities to create a fillet (index 0-3)</td><td>Integer</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Fillet</b></td><td>F</td><td>Nurbsarc</td><td>Curve</td></tr>
<tr><td><b>Trimmed A</b></td><td>A</td><td>Trimmed curve A</td><td>Curve</td></tr>
<tr><td><b>Trimmed B</b></td><td>B</td><td>Trimmed curve B</td><td>Curve</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>