<!DOCTYPE HTML>
<html>
<head>
  <title>Fit Curve - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="Fit Curve - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div class="topheader"></div>

<div class="page">

<div class="content">

<div class="header">
<h1><img src="../../icons/ASTools/FitExactIcon24x24.png"/> Fit Curve</h1>
<p><a href="../../index.html">Component Index</a> &gt; ASTools > Curve > <b>FCur</b></p>
</div>

<h3>Fit a curve to another</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Ref</b></td><td>R</td><td>Curve as reference</td><td>Curve</td></tr>
<tr><td><b>Fit</b></td><td>F</td><td>Curve to apply the fitting operation</td><td>Curve</td></tr>
<tr><td><b>indexR</b></td><td>iR</td><td>0 (Start) or 1 (End)</td><td>Integer</td></tr>
<tr><td><b>indexF</b></td><td>iF</td><td>0 (Start) or 1 (End)</td><td>Integer</td></tr>
<tr><td><b>Continuity</b></td><td>c</td><td>0- Position, 1-Tangency,2-Curvature</td><td>Integer</td></tr>
<tr><td><b>Factor Tan</b></td><td>fT</td><td>Factor of tangency movement</td><td>Number</td></tr>
<tr><td><b>Factor Cur</b></td><td>fC</td><td>Factor of curvature movement</td><td>Number</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Curve</b></td><td>C</td><td>Changed curve</td><td>Curve</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>