<!DOCTYPE HTML>
<html>
<head>
  <title>Real Trim Surface - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="Real Trim Surface - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div class="topheader"></div>

<div class="page">

<div class="content">

<div class="header">
<h1><img src="../../icons/ASTools/RealTrimIcon24x24.png"/> Real Trim Surface</h1>
<p><a href="../../index.html">Component Index</a> &gt; ASTools > Surface > <b>RTS</b></p>
</div>

<h3>Align Controlpoints to an Brep (Real Trim)</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Surface</b></td><td>S</td><td>Surface to trim</td><td>Surface</td></tr>
<tr><td><b>Brep</b></td><td>B</td><td>Cutting Brep</td><td>Brep</td></tr>
<tr><td><b>SplitIndex</b></td><td>i</td><td>Determines which part is left </td><td>Integer</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Surface</b></td><td>S</td><td>Trimmed Surface</td><td>Surface</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>