<!DOCTYPE HTML>
<html>
<head>
  <title>2D Support Region - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="2D Support Region - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div class="topheader"></div>

<div class="page">

<div class="content">

<div class="header">
<h1><img src="../../icons/Millipede/T2dSupp.png"/> 2D Support Region</h1>
<p><a href="../../index.html">Component Index</a> &gt; Millipede > Topostruct2D > <b>Support</b></p>
</div>

<h3>2D Support Region</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Boundary</b></td><td>Boundary</td><td>Boundary [Curve]</td><td>Curve</td></tr>
<tr><td><b>Support Type</b></td><td>SUP</td><td>Support Type to be applied to all nodes within boundary</td><td>Integer</td></tr>
<tr><td><b>Amend Existing Supports</b></td><td>AM</td><td>if true region support type only amends but does not replace existing supports</td><td>Boolean</td></tr>
<tr><td><b>Displacement</b></td><td>Displacement</td><td>Displacement</td><td>Vector</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Support Region</b></td><td>SReg</td><td>Support Region</td><td>Generic</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>