<!DOCTYPE HTML>
<html>
<head>
  <title>Displace By Spectrum - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="Displace By Spectrum - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div class="topheader"></div>

<div class="page">

<div class="content">

<div class="header">
<h1><img src="../../icons/Millipede/eigen_06.png"/> Displace By Spectrum</h1>
<p><a href="../../index.html">Component Index</a> &gt; Millipede > Eigen > <b>Displace By Spectrum</b></p>
</div>

<h3>Displace By Spectrum</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>EigenSystem</b></td><td>Ei</td><td>EigenSystem</td><td>Generic</td></tr>
<tr><td><b>Spectrum</b></td><td>S</td><td>Spectrum</td><td>List, numArray of Number</td></tr>
<tr><td><b>Displacement</b></td><td>D</td><td>Displacement</td><td>Number</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Mesh</b></td><td>Mesh</td><td>Mesh</td><td>Mesh</td></tr>
<tr><td><b>Values</b></td><td>Values</td><td>Values</td><td>List of Number</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>