<!DOCTYPE HTML>
<html>
<head>
  <title>FEA System - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="FEA System - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div class="topheader"></div>

<div class="page">

<div class="content">

<div class="header">
<h1><img src="../../icons/Millipede/FEASystem.png"/> FEA System</h1>
<p><a href="../../index.html">Component Index</a> &gt; Millipede > FESystem > <b>FEA System</b></p>
</div>

<h3>Finite Element System [frames and shells]</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Model Components</b></td><td>M</td><td>All the components that make up this model [geometry, properties, regions etc...]</td><td>List of Generic</td></tr>
<tr><td><b>Intersect added curves</b></td><td>CX</td><td>if true all added curves are intersected and split</td><td>Boolean</td></tr>
<tr><td><b>Merge tolerance</b></td><td>TOL</td><td>Tolerance used for curve intersection and node merging</td><td>Number</td></tr>
<tr><td><b>Minimum Curve Span</b></td><td>Minc</td><td>Minimum length of curve segments</td><td>Number</td></tr>
<tr><td><b>Maximum Curve Span</b></td><td>Maxc</td><td>Maximum length of curve segments</td><td>Number</td></tr>
<tr><td><b>Curve Tolerance</b></td><td>CTOL</td><td>Tolerance used for curve conversion to polylines</td><td>Number</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>FE Model</b></td><td>FE</td><td>FE Model</td><td>Generic</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>