<!DOCTYPE HTML>
<html>
<head>
  <title>Fe Frame Element - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="Fe Frame Element - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div class="topheader"></div>

<div class="page">

<div class="content">

<div class="header">
<h1><img src="../../icons/Millipede/FeaXframe.png"/> Fe Frame Element</h1>
<p><a href="../../index.html">Component Index</a> &gt; Millipede > FESystem > <b>Frame Element</b></p>
</div>

<h3>Definition of single Frame Element[beam, column etc...]</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>P0</b></td><td>P0</td><td>Start Point</td><td>Point</td></tr>
<tr><td><b>P1</b></td><td>P1</td><td>End Point</td><td>Point</td></tr>
<tr><td><b>CrossSection</b></td><td>CS</td><td>Cross Section</td><td>Generic</td></tr>
<tr><td><b>Linear Load</b></td><td>L</td><td>Linear Load in N/m</td><td>Vector</td></tr>
<tr><td><b>Up Vector</b></td><td>UV</td><td>Up vector for cross section alignment</td><td>Vector</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Frame Element</b></td><td>FEFrame</td><td>Frame Element</td><td>Generic</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>