<!DOCTYPE HTML>
<html>
<head>
  <title>Fe Quad Shell Element - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="Fe Quad Shell Element - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div class="topheader"></div>

<div class="page">

<div class="content">

<div class="header">
<h1><img src="../../icons/Millipede/FEAXQuad.png"/> Fe Quad Shell Element</h1>
<p><a href="../../index.html">Component Index</a> &gt; Millipede > FESystem > <b>Quad Element</b></p>
</div>

<h3>Definition of single quad element</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>P0</b></td><td>P0</td><td>Point 0</td><td>Point</td></tr>
<tr><td><b>P1</b></td><td>P1</td><td>Point 1</td><td>Point</td></tr>
<tr><td><b>P2</b></td><td>P2</td><td>Point 2</td><td>Point</td></tr>
<tr><td><b>P3</b></td><td>P3</td><td>Point 3</td><td>Point</td></tr>
<tr><td><b>Material</b></td><td>MAT</td><td>Material</td><td>Generic</td></tr>
<tr><td><b>Thickness</b></td><td>T</td><td>Thickness</td><td>Number</td></tr>
<tr><td><b>Area Load</b></td><td>L</td><td>Area Load in N/m\x00b2</td><td>Vector</td></tr>
<tr><td><b>Normal Area Load</b></td><td>LN</td><td>Normal Area Load in N/m\x00b2</td><td>Number</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>FE Quad</b></td><td>FEQuad</td><td>FE Quad</td><td>Generic</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>