<!DOCTYPE HTML>
<html>
<head>
  <title>Frame Results - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="Frame Results - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div class="topheader"></div>

<div class="page">

<div class="content">

<div class="header">
<h1><img src="../../icons/Millipede/resframes.png"/> Frame Results</h1>
<p><a href="../../index.html">Component Index</a> &gt; Millipede > FESystem > <b>Frame Results</b></p>
</div>

<h3>Frame Results</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>FE Model</b></td><td>FE</td><td>FE Model</td><td>Generic</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Force at start Point</b></td><td>F0</td><td>Force at start Point</td><td>List of Vector</td></tr>
<tr><td><b>Force at end Point</b></td><td>F1</td><td>Force at end Point</td><td>List of Vector</td></tr>
<tr><td><b>Moment at start Point</b></td><td>M0</td><td>Moment at start Point</td><td>List of Vector</td></tr>
<tr><td><b>Moment at end Point</b></td><td>M1</td><td>Moment at end Point</td><td>List of Vector</td></tr>
<tr><td><b>Estimate Max Stress</b></td><td>S</td><td>Estimate Max Stress</td><td>List of Number</td></tr>
<tr><td><b>Stiffness Multiplier</b></td><td>Opt</td><td>Stiffness Multiplier</td><td>List of Number</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>