<!DOCTYPE HTML>
<html>
<head>
  <title>Iso surface - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="Iso surface - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div class="topheader"></div>

<div class="page">

<div class="content">

<div class="header">
<h1><img src="../../icons/Millipede/mcubes.png"/> Iso surface</h1>
<p><a href="../../index.html">Component Index</a> &gt; Millipede > Geometry > <b>Iso Surface</b></p>
</div>

<h3>Iso Surface</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Box</b></td><td>Box</td><td>Box</td><td>Box</td></tr>
<tr><td><b>Values</b></td><td>v</td><td>values</td><td>List of Number</td></tr>
<tr><td><b>X resolution</b></td><td>Xres</td><td>X resolution</td><td>Integer</td></tr>
<tr><td><b>Y resolution</b></td><td>Yres</td><td>Y resolution</td><td>Integer</td></tr>
<tr><td><b>Z resolution</b></td><td>Zres</td><td>Z resolution</td><td>Integer</td></tr>
<tr><td><b>IsoValue</b></td><td>IsoValue</td><td>IsoValue</td><td>Number</td></tr>
<tr><td><b>Merge Vertices</b></td><td>Merge</td><td>MErge Vertices</td><td>Boolean</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Mesh</b></td><td>Mesh</td><td>Mesh</td><td>Mesh</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>