<!DOCTYPE HTML>
<html>
<head>
  <title>Load Region - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="Load Region - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div class="topheader"></div>

<div class="page">

<div class="content">

<div class="header">
<h1><img src="../../icons/Millipede/FERegLoad.png"/> Load Region</h1>
<p><a href="../../index.html">Component Index</a> &gt; Millipede > FESystem > <b>Load Region</b></p>
</div>

<h3>Boundary within which loads are applied</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Boundary</b></td><td>Boundary</td><td>Boundary [Closed planar curve or BBox or Polysurface</td><td>Generic</td></tr>
<tr><td><b>Node Load</b></td><td>Nodal</td><td>Point Load to be applied to all nodes contained in boundary</td><td>Vector</td></tr>
<tr><td><b>Line Load</b></td><td>Linear</td><td>Linear Load to be applied to all frame elements contained in boundary</td><td>Vector</td></tr>
<tr><td><b>Area Load</b></td><td>Areal</td><td>Areal Load to be applied to all shell elements within boundary</td><td>Vector</td></tr>
<tr><td><b>Areal Normal Load</b></td><td>ANorm</td><td>Normal Areal Load to be applied to all shell elements within boundary</td><td>Number</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Load Region</b></td><td>LReg</td><td>Load Region</td><td>Generic</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>