<!DOCTYPE HTML>
<html>
<head>
  <title>Material Properties Region - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="Material Properties Region - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div class="topheader"></div>

<div class="page">

<div class="content">

<div class="header">
<h1><img src="../../icons/Millipede/FeRegMat.png"/> Material Properties Region</h1>
<p><a href="../../index.html">Component Index</a> &gt; Millipede > FESystem > <b>Material Properties</b></p>
</div>

<h3>Boundary within which material properties are applied</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Boundary</b></td><td>Boundary</td><td>Boundary [Closed planar curve or BBox or Polysurface</td><td>Generic</td></tr>
<tr><td><b>Cross Section</b></td><td>CS</td><td>Cross Sections to be applied to all frame elements within boundary</td><td>Generic</td></tr>
<tr><td><b>Shell Material</b></td><td>M</td><td>Material to be applied to all shell elements within boundary</td><td>Generic</td></tr>
<tr><td><b>Shell Thickness</b></td><td>T</td><td>Thickness to be applied to all shell elements within boundary</td><td>Number</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Material Properties Region</b></td><td>MPReg</td><td>Material Properties Region</td><td>Generic</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>