<!DOCTYPE HTML>
<html>
<head>
  <title>Quad Results - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="Quad Results - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div class="topheader"></div>

<div class="page">

<div class="content">

<div class="header">
<h1><img src="../../icons/Millipede/resquads.png"/> Quad Results</h1>
<p><a href="../../index.html">Component Index</a> &gt; Millipede > FESystem > <b>Quad Results</b></p>
</div>

<h3>Quad Results</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>FE Model</b></td><td>FE</td><td>FE Model</td><td>Generic</td></tr>
<tr><td><b>Plane</b></td><td>SP</td><td>Stress Plane [-1 bottom, 0 mid, +1 top]</td><td>Number</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Principal stress frame</b></td><td>PS</td><td>Principal stress frame</td><td>List of Plane</td></tr>
<tr><td><b>Area</b></td><td>Area</td><td>Area</td><td>List of Number</td></tr>
<tr><td><b>Normal Displacement</b></td><td>W</td><td>Normal Displacement</td><td>List of Number</td></tr>
<tr><td><b>Max Von Mises Stress</b></td><td>S</td><td>Max Von Mises Stress</td><td>List of Number</td></tr>
<tr><td><b>PS1</b></td><td>PS1</td><td>Principal stress 1</td><td>List of Number</td></tr>
<tr><td><b>PS2</b></td><td>PS2</td><td>Principal stress 2</td><td>List of Number</td></tr>
<tr><td><b>Stiffness Multiplier</b></td><td>Opt</td><td>Stiffness Multiplier</td><td>List of Number</td></tr>
<tr><td><b>Bending</b></td><td>Bending</td><td>Bending</td><td>List of Number</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>