<!DOCTYPE HTML>
<html>
<head>
  <title>Stress Pattern - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="Stress Pattern - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div class="topheader"></div>

<div class="page">

<div class="content">

<div class="header">
<h1><img src="../../icons/Millipede/Stress_Pattern.png"/> Stress Pattern</h1>
<p><a href="../../index.html">Component Index</a> &gt; Millipede > Millipede FESystem > <b>Stress Pattern</b></p>
</div>

<h3>Stress Pattern</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>FE</b></td><td></td><td>FE Model</td><td>Generic Data</td></tr>
<tr><td><b>omega</b></td><td></td><td>Scaling factor. Higher values produce denser patterns</td><td>Number</td></tr>
<tr><td><b>scalefield</b></td><td></td><td>Scale field to reflect divergence and convergence of lines</td><td>Boolean</td></tr>
<tr><td><b>uselambda</b></td><td></td><td>use integration factors for inhomogeneous meshes</td><td>Boolean</td></tr>
<tr><td><b>smoothfactor</b></td><td></td><td>[BETA] smoothing factor [0.0=disabled]</td><td>Number</td></tr>
<tr><td><b>smoothModulo</b></td><td></td><td>[BETA] smoothing Modulo</td><td>Integer</td></tr>
<tr><td><b>iterations</b></td><td></td><td>[BETA] Relaxation iterations after main solver</td><td>Integer</td></tr>
<tr><td><b>Mesh denisty</b></td><td></td><td>Mesh denisty</td><td>Integer</td></tr>
<tr><td><b>Layer</b></td><td></td><td>Layer from -1 to +1</td><td>Number</td></tr>
<tr><td><b>Thickness</b></td><td></td><td>Thickness</td><td>Number</td></tr>
<tr><td><b>Bending</b></td><td></td><td>Use Bending Moments</td><td>Boolean</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>System</b></td><td></td><td>System</td><td>Generic Data</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>