<!DOCTYPE HTML>
<html>
<head>
  <title>Geo to XYZ - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="Geo to XYZ - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div class="topheader"></div>

<div class="page">

<div class="content">

<div class="header">
<h1><img src="../../icons/gHowl/Geo_to_XYZ.png"/> Geo to XYZ</h1>
<p><a href="../../index.html">Component Index</a> &gt; gHowl > gHowl GEO > <b>Geo to XYZ</b></p>
</div>

<h3>Map WSG84 Coordinates to XYZ</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>P</b></td><td></td><td>WSG84 Coordinates as Decimal Degrees Longitude, Latitude, Altitude</td><td>Point</td></tr>
<tr><td><b>P1_XYZ</b></td><td></td><td>First Reference Point XYZ, usually lower left corner of mapping area</td><td>Point</td></tr>
<tr><td><b>P2_XYZ</b></td><td></td><td>Second Reference Point XYZ, usually upper right corner of mapping area</td><td>Point</td></tr>
<tr><td><b>P1_Geo</b></td><td></td><td>First Reference Point WSG84, usually lower left corner of mapping area</td><td>Point</td></tr>
<tr><td><b>P2_Geo</b></td><td></td><td>Second Reference Point WSG84, usually upper right corner of mapping area</td><td>Point</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>P</b></td><td></td><td>WSG84 Coordinates in XYZ</td><td>Point</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>