<!DOCTYPE HTML>
<html>
<head>
  <title>KML Exporter - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="KML Exporter - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div class="topheader"></div>

<div class="page">

<div class="content">

<div class="header">
<h1><img src="../../icons/gHowl/KML_Exporter.png"/> KML Exporter</h1>
<p><a href="../../index.html">Component Index</a> &gt; gHowl > gHowl KML > <b>KML Exporter</b></p>
</div>

<h3>Export from Rhino model to KML format</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>F</b></td><td></td><td>File to write to *.KML</td><td>Text</td></tr>
<tr><td><b>G</b></td><td></td><td>Geometry to export</td><td>Geometry</td></tr>
<tr><td><b>S</b></td><td></td><td>KML Object Style</td><td>KMLStyle</td></tr>
<tr><td><b>XYZ</b></td><td></td><td>Anchor Point Model Coordinates</td><td>Point</td></tr>
<tr><td><b>GEO</b></td><td></td><td>Anchor Point Coordinates in D.D. Longitude, Latitude, Altitude</td><td>Point</td></tr>
<tr><td><b>A</b></td><td></td><td>Altitude mode for KML File: absolute, clampToGround, or relativeToGround</td><td>Text</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>