<!DOCTYPE HTML>
<html>
<head>
  <title>XYZ to Geo - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="XYZ to Geo - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div class="topheader"></div>

<div class="page">

<div class="content">

<div class="header">
<h1><img src="../../icons/gHowl/XYZ_to_Geo.png"/> XYZ to Geo</h1>
<p><a href="../../index.html">Component Index</a> &gt; gHowl > gHowl Geo > <b>XYZ to Geo</b></p>
</div>

<h3>Map XYZ Coordinates to WSG84</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>P</b></td><td></td><td>Points in model to convert to WSG84 coordinates</td><td>Point</td></tr>
<tr><td><b>XYZ</b></td><td></td><td>Earth Anchor Point Model Coordinates</td><td>Point</td></tr>
<tr><td><b>Geo</b></td><td></td><td>Earth Anchor Point Coordinates in D.D. Longitude, Latitude, Altitude</td><td>Point</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>P</b></td><td></td><td>XYZ Points converted to WSG84 Coordinates</td><td>Point</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>