<!DOCTYPE HTML>
<html>
<head>
  <title>Bevel Vertices - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="Bevel Vertices - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div class="topheader"></div>

<div class="page">

<div class="content">

<div class="header">
<h1><img src="../../icons/Weaverbird/Bevel_Vertices.png"/> Bevel Vertices</h1>
<p><a href="../../index.html">Component Index</a> &gt; Weaverbird > Wb Transform > <b>Bevel Vertices</b></p>
</div>


<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Mesh/Polylines</b></td><td>M</td><td>The mesh, or list of polylines, which will be processed.</td><td>Geometry</td></tr>
<tr><td><b>Distance</b></td><td>D</td><td>The scalar value used in the construction of the new internal vertices.<br />
Distance can be set as list, where each value applies to the correspondent element in the input mesh.</td><td>Number</td></tr>
<tr><td><b>InsetType</b></td><td>T</td><td>Definition of distance for new vertices<br />
<br />
0: Percent. Percentual of the length of the edge (must be &lt; 50).<br />
1: Parallelogram. Parallelogram rule (value &lt; than shortest edge length / 2).</td><td>InsetTypeEnum</td></tr>
<tr><td><b>Output geometry as mesh</b></td><td>M</td><td>True if you want meshes as result, false otherwise.</td><td>Boolean</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>OutMesh</b></td><td>O</td><td>The mesh after the process</td><td>Geometry</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>