<!DOCTYPE HTML>
<html>
<head>
  <title>Area Moments - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="Area Moments - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div class="topheader"></div>

<div class="page">

<div class="content">

<div class="header">
<h1><img src="../../icons/Surface/AreaMoments.png"/> Area Moments</h1>
<p><a href="../../index.html">Component Index</a> &gt; Grasshopper > Surface > Analysis > <b>AMoments</b></p>
</div>

<h3>Solve area moments for breps, meshes and planar closed curves.</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Geometry</b></td><td>G</td><td>Brep, mesh or planar closed curve for area computation</td><td>Geometry</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Area</b></td><td>A</td><td>Area of geometry</td><td>Number</td></tr>
<tr><td><b>Centroid</b></td><td>C</td><td>Area centroid of geometry</td><td>Point</td></tr>
<tr><td><b>Inertia</b></td><td>I</td><td>Moments of inertia around the centroid</td><td>Vector</td></tr>
<tr><td><b>Inertia (error)</b></td><td>I\x00b1</td><td>Errors on Moments of inertia</td><td>Vector</td></tr>
<tr><td><b>Secondary</b></td><td>S</td><td>Secondary moments of inertia around the centroid</td><td>Vector</td></tr>
<tr><td><b>Secondary (error)</b></td><td>S\x00b1</td><td>Errors on Secondary moments</td><td>Vector</td></tr>
<tr><td><b>Gyration</b></td><td>G</td><td>Radii of gyration</td><td>Vector</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>