<!DOCTYPE HTML>
<html>
<head>
  <title>Collision Many|Many - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="Collision Many|Many - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div id="topheader"></div>

<div id="page">

<div id="content">

<div id="header">
<h1><img src="../../icons/Surface/CollisionManyMany.png"/> Collision Many|Many</h1>
<p><a href="../../index.html">Component Index</a> &gt; Intersect > Physical > <b>ColMM</b></p>
</div>

<h3>Test for many|many collision between objects</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Colliders</b></td><td>C</td><td>Objects for collision</td><td>List of Geometry</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Collision</b></td><td>C</td><td>True if object at this index collides with any of the other objects</td><td>List of Boolean</td></tr>
<tr><td><b>Indices</b></td><td>I</td><td>Index of object in set which collided with the object at this index</td><td>List of Integer</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>