<!DOCTYPE HTML>
<html>
<head>
  <title>Contour (ex) - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="Contour (ex) - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div class="topheader"></div>

<div class="page">

<div class="content">

<div class="header">
<h1><img src="../../icons/Surface/CurveContour2.png"/> Contour (ex)</h1>
<p><a href="../../index.html">Component Index</a> &gt; Surface > Curve > Division > <b>Contour</b></p>
</div>

<h3>Create a set of Curve contours</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Curve</b></td><td>C</td><td>Curve to contour</td><td>Curve</td></tr>
<tr><td><b>Plane</b></td><td>P</td><td>Base plane for contours</td><td>Plane</td></tr>
<tr><td><b>Offsets</b></td><td>O</td><td>Contour offsets from base plane (if omitted, you must specify distances instead)</td><td>List of Number</td></tr>
<tr><td><b>Distances</b></td><td>D</td><td>Distances between contours (if omitted, you must specify offset instead)</td><td>List of Number</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Contours</b></td><td>C</td><td>Resulting contour points (grouped by section)</td><td>Tree of Point</td></tr>
<tr><td><b>Parameters</b></td><td>t</td><td>Curve parameters for all contour points</td><td>Tree of Number</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>