<!DOCTYPE HTML>
<html>
<head>
  <title>Edge Surface - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="Edge Surface - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div id="topheader"></div>

<div id="page">

<div id="content">

<div id="header">
<h1><img src="../../icons/Surface/EdgeSurface.png"/> Edge Surface</h1>
<p><a href="../../index.html">Component Index</a> &gt; Surface > Freeform > <b>EdgeSrf</b></p>
</div>

<h3>Create a surface from two, three or four edge curves.</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Curve A</b></td><td>A</td><td>First curve</td><td>Curve</td></tr>
<tr><td><b>Curve B</b></td><td>B</td><td>Second curve</td><td>Curve</td></tr>
<tr><td><b>Curve C</b></td><td>C</td><td>Optional Third curve</td><td>Curve</td></tr>
<tr><td><b>Curve D</b></td><td>D</td><td>Optional Fourth curve</td><td>Curve</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Surface</b></td><td>S</td><td>Brep representing the edge-surface</td><td>Brep</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>