<!DOCTYPE HTML>
<html>
<head>
  <title>Evaluate Box - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="Evaluate Box - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div id="topheader"></div>

<div id="page">

<div id="content">

<div id="header">
<h1><img src="../../icons/Surface/EvaluateBox.png"/> Evaluate Box</h1>
<p><a href="../../index.html">Component Index</a> &gt; Surface > Analysis > <b>Box</b></p>
</div>

<h3>Evaluate a box in normalised {UVW} space.</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Box</b></td><td>B</td><td>Base box</td><td>Box</td></tr>
<tr><td><b>U parameter</b></td><td>U</td><td>{u} parameter (values between 0.0 and 1.0 are inside the box)</td><td>Number</td></tr>
<tr><td><b>V parameter</b></td><td>V</td><td>{v} parameter (values between 0.0 and 1.0 are inside the box)</td><td>Number</td></tr>
<tr><td><b>W parameter</b></td><td>W</td><td>{w} parameter (values between 0.0 and 1.0 are inside the box)</td><td>Number</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Plane</b></td><td>Pl</td><td>Plane at {uvw} coordinate</td><td>Plane</td></tr>
<tr><td><b>Point</b></td><td>Pt</td><td>Point at {uvw} coordinate</td><td>Point</td></tr>
<tr><td><b>Include</b></td><td>I</td><td>True if point is inside or on box</td><td>Boolean</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>