<!DOCTYPE HTML>
<html>
<head>
  <title>Exposure - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="Exposure - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div class="topheader"></div>

<div class="page">

<div class="content">

<div class="header">
<h1><img src="../../icons/Surface/OcclusionAdvanced.png"/> Exposure</h1>
<p><a href="../../index.html">Component Index</a> &gt; Grasshopper > Mesh > Util > <b>Exposure</b></p>
</div>

<h3>Solve mesh exposure for a collection of energy rays and obstructions.</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Shape</b></td><td>S</td><td>Mesh for exposure solution</td><td>Mesh</td></tr>
<tr><td><b>Obstructions</b></td><td>O</td><td>Optional additional obstructing geometry</td><td>List of Mesh</td></tr>
<tr><td><b>Rays</b></td><td>R</td><td>Light ray directions</td><td>List of Vector</td></tr>
<tr><td><b>Energy</b></td><td>E</td><td>Optional Energy values for each ray</td><td>List of Number</td></tr>
<tr><td><b>Lambert</b></td><td>L</td><td>If true, Lambertian shading will be applied,</td><td>Boolean</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Exposure</b></td><td>E</td><td>Combined exposure for every individual mesh vertex.</td><td>List of Number</td></tr>
<tr><td><b>Range</b></td><td>R</td><td>Exposure Range for the entire mesh.</td><td>Interval</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>