<!DOCTYPE HTML>
<html>
<head>
  <title>Face Normals - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="Face Normals - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div id="topheader"></div>

<div id="page">

<div id="content">

<div id="header">
<h1><img src="../../icons/Surface/MeshFaceNormal.png"/> Face Normals</h1>
<p><a href="../../index.html">Component Index</a> &gt; Mesh > Analysis > <b>FaceN</b></p>
</div>

<h3>Extract the normals and center points of all faces in a mesh</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Mesh</b></td><td>M</td><td>Mesh for normal and center point extraction</td><td>Mesh</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Centers</b></td><td>C</td><td>Center-points of all faces</td><td>List of Point</td></tr>
<tr><td><b>Normals</b></td><td>N</td><td>Normal vectors for all faces</td><td>List of Vector</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>