<!DOCTYPE HTML>
<html>
<head>
  <title>Loft Options - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="Loft Options - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div class="topheader"></div>

<div class="page">

<div class="content">

<div class="header">
<h1><img src="../../icons/Surface/LoftSettings.png"/> Loft Options</h1>
<p><a href="../../index.html">Component Index</a> &gt; Grasshopper > Surface > Freeform > <b>Loft Opt</b></p>
</div>

<h3>Create loft options from atomic inputs</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Closed</b></td><td>Cls</td><td>Closed loft</td><td>Boolean</td></tr>
<tr><td><b>Adjust</b></td><td>Adj</td><td>Adjust seams</td><td>Boolean</td></tr>
<tr><td><b>Rebuild</b></td><td>Rbd</td><td>Rebuild count (zero = no rebuild)</td><td>Integer</td></tr>
<tr><td><b>Refit</b></td><td>Rft</td><td>Refit tolerance (zero = no refit)</td><td>Number</td></tr>
<tr><td><b>Type</b></td><td>T</td><td>Loft type (0=Normal, 1=Loose, 2=Tight, 3=Straight, 4=Developable, 5=Uniform)</td><td>Integer</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Options</b></td><td>O</td><td>Loft options</td><td></td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>