<!DOCTYPE HTML>
<html>
<head>
  <title>Mesh Sphere - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="Mesh Sphere - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div class="topheader"></div>

<div class="page">

<div class="content">

<div class="header">
<h1><img src="../../icons/Surface/MeshSphere.png"/> Mesh Sphere</h1>
<p><a href="../../index.html">Component Index</a> &gt; Grasshopper > Mesh > Primitive > <b>MSphere</b></p>
</div>

<h3>Create a mesh sphere.</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Base</b></td><td>B</td><td>Base plane</td><td>Plane</td></tr>
<tr><td><b>Radius</b></td><td>R</td><td>Radius of mesh sphere</td><td>Number</td></tr>
<tr><td><b>U Count</b></td><td>U</td><td>Number of faces around sphere</td><td>Integer</td></tr>
<tr><td><b>V Count</b></td><td>V</td><td>Number of faces from pole to pole</td><td>Integer</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Mesh</b></td><td>M</td><td>Mesh sphere</td><td>Mesh</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>