<!DOCTYPE HTML>
<html>
<head>
  <title>Mesh Plane - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="Mesh Plane - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div class="topheader"></div>

<div class="page">

<div class="content">

<div class="header">
<h1><img src="../../icons/Surface/MeshPlane.png"/> Mesh Plane</h1>
<p><a href="../../index.html">Component Index</a> &gt; Surface > Mesh > Primitive > <b>MPlane</b></p>
</div>

<h3>Create a mesh plane.</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Boundary</b></td><td>B</td><td>Rectangle describing boundary of plane</td><td>Rectangle</td></tr>
<tr><td><b>Width count</b></td><td>W</td><td>Number of faces along {x} direction</td><td>Integer</td></tr>
<tr><td><b>Height count</b></td><td>H</td><td>Number of faces along {y} direction</td><td>Integer</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Mesh</b></td><td>M</td><td>Mesh plane</td><td>Mesh</td></tr>
<tr><td><b>Area</b></td><td>A</td><td>Area of mesh plane</td><td>Number</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>