<!DOCTYPE HTML>
<html>
<head>
  <title>Mesh Split - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="Mesh Split - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div class="topheader"></div>

<div class="page">

<div class="content">

<div class="header">
<h1><img src="../../icons/Surface/MeshSplit.png"/> Mesh Split</h1>
<p><a href="../../index.html">Component Index</a> &gt; Grasshopper > Intersect > Shape > <b>MSplit</b></p>
</div>

<h3>Mesh Mesh split</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Mesh</b></td><td>M</td><td>Mesh to split</td><td>Mesh</td></tr>
<tr><td><b>Splitters</b></td><td>S</td><td>Meshes to split with</td><td>List of Mesh</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Result</b></td><td>R</td><td>Result of mesh split</td><td>List of Mesh</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>