<!DOCTYPE HTML>
<html>
<head>
  <title>Osculating Circles - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="Osculating Circles - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div class="topheader"></div>

<div class="page">

<div class="content">

<div class="header">
<h1><img src="../../icons/Surface/OsculatingCircles.png"/> Osculating Circles</h1>
<p><a href="../../index.html">Component Index</a> &gt; Surface > Surface > Analysis > <b>Osc</b></p>
</div>

<h3>Calculate the principal osculating circles of a surface at a {uv} coordinate.</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Surface</b></td><td>S</td><td>Base surface</td><td>Surface</td></tr>
<tr><td><b>Point</b></td><td>uv</td><td>{uv} coordinate to evaluate</td><td>Point</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Point</b></td><td>P</td><td>Surface point at {uv} coordinate</td><td>Point</td></tr>
<tr><td><b>First circle</b></td><td>C1</td><td>First osculating circle</td><td>Curve</td></tr>
<tr><td><b>Second circle</b></td><td>C2</td><td>Second osculating circle</td><td>Curve</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>