<!DOCTYPE HTML>
<html>
<head>
  <title>Pipe - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="Pipe - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div class="topheader"></div>

<div class="page">

<div class="content">

<div class="header">
<h1><img src="../../icons/Surface/Pipe.png"/> Pipe</h1>
<p><a href="../../index.html">Component Index</a> &gt; Grasshopper > Surface > Freeform > <b>Pipe</b></p>
</div>

<h3>Create a pipe surface around a rail curve.</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Curve</b></td><td>C</td><td>Base curve</td><td>Curve</td></tr>
<tr><td><b>Radius</b></td><td>R</td><td>Pipe radius</td><td>Number</td></tr>
<tr><td><b>Caps</b></td><td>E</td><td>Specifies the type of caps (0=None, 1=Flat, 2=Round)</td><td>Integer</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Pipe</b></td><td>P</td><td>Resulting Pipe</td><td>List of Brep</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>