<!DOCTYPE HTML>
<html>
<head>
  <title>Pipe Variable - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="Pipe Variable - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div id="topheader"></div>

<div id="page">

<div id="content">

<div id="header">
<h1><img src="../../icons/Surface/PipeVariable.png"/> Pipe Variable</h1>
<p><a href="../../index.html">Component Index</a> &gt; Surface > Freeform > <b>VPipe</b></p>
</div>

<h3>Create a pipe surface with variable radii around a rail curve.</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Curve</b></td><td>C</td><td>Base curve</td><td>Curve</td></tr>
<tr><td><b>Parameters</b></td><td>t</td><td>Curve parameters for radii</td><td>List of Number</td></tr>
<tr><td><b>Radii</b></td><td>R</td><td>A list of radii for every defined parameter</td><td>List of Number</td></tr>
<tr><td><b>Caps</b></td><td>E</td><td>Specifies the type of caps (0=None, 1=Flat, 2=Round)</td><td>Integer</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Pipe</b></td><td>P</td><td>Resulting Pipe</td><td>List of Brep</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>