<!DOCTYPE HTML>
<html>
<head>
  <title>Point In Brep - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="Point In Brep - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div id="topheader"></div>

<div id="page">

<div id="content">

<div id="header">
<h1><img src="../../icons/Surface/BrepInclusion.png"/> Point In Brep</h1>
<p><a href="../../index.html">Component Index</a> &gt; Surface > Analysis > <b>BrepInc</b></p>
</div>

<h3>Test whether a point is inside a closed brep</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Brep</b></td><td>B</td><td>Brep for inclusion test</td><td>Brep</td></tr>
<tr><td><b>Point</b></td><td>P</td><td>Point for inclusion test</td><td>Point</td></tr>
<tr><td><b>Strict</b></td><td>S</td><td>If true, then the inclusion is strict</td><td>Boolean</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Inside</b></td><td>I</td><td>True if point is on the inside of the Brep.</td><td>Boolean</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>