<!DOCTYPE HTML>
<html>
<head>
  <title>Region Slits - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="Region Slits - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div class="topheader"></div>

<div class="page">

<div class="content">

<div class="header">
<h1><img src="../../icons/Surface/RegionSlits.png"/> Region Slits</h1>
<p><a href="../../index.html">Component Index</a> &gt; Surface > Intersect > Shape > <b>RSlits</b></p>
</div>

<h3>Add slits to a collection of intersecting planar regions</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Regions</b></td><td>R</td><td>Planar regions to intersect</td><td>List of Curve</td></tr>
<tr><td><b>Width</b></td><td>W</td><td>Width of slits</td><td>Number</td></tr>
<tr><td><b>Gap</b></td><td>G</td><td>Additional gap size at slit meeting points</td><td>Number</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Regions</b></td><td>R</td><td>Regions with slits</td><td>Tree of Surface</td></tr>
<tr><td><b>Topology</b></td><td>T</td><td>Slit topology</td><td>Tree of Integer</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>