<!DOCTYPE HTML>
<html>
<head>
  <title>Surface Points - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="Surface Points - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div class="topheader"></div>

<div class="page">

<div class="content">

<div class="header">
<h1><img src="../../icons/Surface/SurfacePoints.png"/> Surface Points</h1>
<p><a href="../../index.html">Component Index</a> &gt; Surface > Surface > Analysis > <b>SrfPt</b></p>
</div>

<h3>Get the control-points of a Nurbs Surface</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Surface</b></td><td>S</td><td>Surface for control-point extraction</td><td>Surface</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Points</b></td><td>P</td><td>Control point locations</td><td>List of Point</td></tr>
<tr><td><b>Weights</b></td><td>W</td><td>Control point weights</td><td>List of Number</td></tr>
<tr><td><b>Greville</b></td><td>G</td><td>Greville uv points</td><td>List of Point</td></tr>
<tr><td><b>U Count</b></td><td>U</td><td>Number of points along U direction</td><td>Integer</td></tr>
<tr><td><b>V Count</b></td><td>V</td><td>Number of points along V direction</td><td>Integer</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>