<!DOCTYPE HTML>
<html>
<head>
  <title>Surface | Curve - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="Surface | Curve - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div class="topheader"></div>

<div class="page">

<div class="content">

<div class="header">
<h1><img src="../../icons/Surface/SurfaceCurveIntersection.png"/> Surface | Curve</h1>
<p><a href="../../index.html">Component Index</a> &gt; Surface > Intersect > Physical > <b>SCX</b></p>
</div>

<h3>Solve intersection events for a surface and a curve.</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Surface</b></td><td>S</td><td>Base surface</td><td>Surface</td></tr>
<tr><td><b>Curve</b></td><td>C</td><td>Intersection curve</td><td>Curve</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Curves</b></td><td>C</td><td>Intersection overlap curves</td><td>List of Curve</td></tr>
<tr><td><b>Points</b></td><td>P</td><td>Intersection points</td><td>List of Point</td></tr>
<tr><td><b>UV Points</b></td><td>uv</td><td>Surface {uv} coordinates at intersection events</td><td>List of Point</td></tr>
<tr><td><b>Normals</b></td><td>N</td><td>Surface normal vector at intersection events</td><td>List of Vector</td></tr>
<tr><td><b>Parameters</b></td><td>t</td><td>Curve parameter at intersection events</td><td>List of Number</td></tr>
<tr><td><b>Tangents</b></td><td>T</td><td>Curve tangent vector at intersection events</td><td>List of Vector</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>