<!DOCTYPE HTML>
<html>
<head>
  <title>Sweep2 - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="Sweep2 - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div id="topheader"></div>

<div id="page">

<div id="content">

<div id="header">
<h1><img src="../../icons/Surface/Sweep2.png"/> Sweep2</h1>
<p><a href="../../index.html">Component Index</a> &gt; Surface > Freeform > <b>Swp2</b></p>
</div>

<h3>Create a sweep surface with two rail curves.</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Rail 1</b></td><td>R\x00b9</td><td>First rail curve</td><td>Curve</td></tr>
<tr><td><b>Rail 2</b></td><td>R\x00b2</td><td>Second rail curve</td><td>Curve</td></tr>
<tr><td><b>Sections</b></td><td>S</td><td>Section curves</td><td>List of Curve</td></tr>
<tr><td><b>Same Height</b></td><td>H</td><td>Create a sweep with same-height properties.</td><td>Boolean</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Brep</b></td><td>S</td><td>Resulting Brep</td><td>List of Brep</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>