<!DOCTYPE HTML>
<html>
<head>
  <title>Flip curve toward a point - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="Flip curve toward a point - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div class="topheader"></div>

<div class="page">

<div class="content">

<div class="header">
<h1><img src="../../icons/Bengesht/Flip_curve_toward_a_point.png"/> Flip curve toward a point</h1>
<p><a href="../../index.html">Component Index</a> &gt; Bengesht > Bengesht Curve > <b>Flip curve toward a point</b></p>
</div>

<h3>Flip a curve toward a point.</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Inv</b></td><td></td><td>invert curves</td><td>Boolean</td></tr>
<tr><td><b>Pt</b></td><td></td><td>input point</td><td>Point</td></tr>
<tr><td><b>Crv</b></td><td></td><td>input curve</td><td>Curve</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Crv</b></td><td></td><td>output curve</td><td>Curve</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>