<!DOCTYPE HTML>
<html>
<head>
  <title>WiiOut - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="WiiOut - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div class="topheader"></div>

<div class="page">

<div class="content">

<div class="header">
<h1><img src="../../icons/Bengesht/WiiOut.png"/> WiiOut</h1>
<p><a href="../../index.html">Component Index</a> &gt; Bengesht > Bengesht Wii > <b>WiiOut</b></p>
</div>

<h3>Send data to available wii controllers...</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Wii</b></td><td></td><td>wii objects</td><td>Generic Data</td></tr>
<tr><td><b>L1</b></td><td></td><td>LED 1</td><td>Boolean</td></tr>
<tr><td><b>L2</b></td><td></td><td>LED 2</td><td>Boolean</td></tr>
<tr><td><b>L3</b></td><td></td><td>LED 3</td><td>Boolean</td></tr>
<tr><td><b>L4</b></td><td></td><td>LED 4</td><td>Boolean</td></tr>
<tr><td><b>Rmb</b></td><td></td><td>Rumble</td><td>Boolean</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>