<!DOCTYPE HTML>
<html>
<head>
  <title>Wii Start - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="Wii Start - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div class="topheader"></div>

<div class="page">

<div class="content">

<div class="header">
<h1><img src="../../icons/Bengesht/Wii_Start.png"/> Wii Start</h1>
<p><a href="../../index.html">Component Index</a> &gt; Bengesht > Bengesht Wii > <b>Wii Start</b></p>
</div>

<h3>Connect to available wii controllers and read data...</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Start</b></td><td></td><td>It turns on/off wii connection</td><td>Boolean</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Wii</b></td><td></td><td>connect in to wii in or out components</td><td>Generic Data</td></tr>
<tr><td><b>Msg</b></td><td></td><td>messages</td><td>Generic Data</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>