<!DOCTYPE HTML>
<html>
<head>
  <title>Divide Surface - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="Divide Surface - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div id="topheader"></div>

<div id="page">

<div id="content">

<div id="header">
<h1><img src="../../icons/Vector/DivideSurface.png"/> Divide Surface</h1>
<p><a href="../../index.html">Component Index</a> &gt; Surface > Util > <b>SDivide</b></p>
</div>

<h3>Generate a grid of {uv} points on a surface.</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Surface</b></td><td>S</td><td>Surface to divide</td><td>Surface</td></tr>
<tr><td><b>U Count</b></td><td>U</td><td>Number of segments in {u} direction</td><td>Integer</td></tr>
<tr><td><b>V Count</b></td><td>V</td><td>Number of segments in {v} direction</td><td>Integer</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Points</b></td><td>P</td><td>Division points</td><td>Tree of Point</td></tr>
<tr><td><b>Normals</b></td><td>N</td><td>Normal vectors at division points</td><td>Tree of Vector</td></tr>
<tr><td><b>Parameters</b></td><td>uv</td><td>Parameter coordinates at division points</td><td>Tree of Point</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>