<!DOCTYPE HTML>
<html>
<head>
  <title>Dot Display - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="Dot Display - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div id="topheader"></div>

<div id="page">

<div id="content">

<div id="header">
<h1><img src="../../icons/Vector/DotDisplay.png"/> Dot Display</h1>
<p><a href="../../index.html">Component Index</a> &gt; Display > Preview > <b>Dots</b></p>
</div>

<h3>Draw a collection of coloured dots</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Point</b></td><td>P</td><td>Dot location</td><td>Point</td></tr>
<tr><td><b>Colour</b></td><td>C</td><td>Dot colour</td><td>Colour</td></tr>
<tr><td><b>Size</b></td><td>S</td><td>Dot size</td><td>Number</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>