<!DOCTYPE HTML>
<html>
<head>
  <title>Horizontal Frame - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="Horizontal Frame - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div class="topheader"></div>

<div class="page">

<div class="content">

<div class="header">
<h1><img src="../../icons/Vector/CurveHorizontalFrame.png"/> Horizontal Frame</h1>
<p><a href="../../index.html">Component Index</a> &gt; Vector > Curve > Analysis > <b>HFrame</b></p>
</div>

<h3>Get a horizontally aligned frame along a curve at a specified parameter.</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Curve</b></td><td>C</td><td>Curve to evaluate</td><td>Curve</td></tr>
<tr><td><b>Parameter</b></td><td>t</td><td>Parameter on curve domain to evaluate</td><td>Number</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Frame</b></td><td>F</td><td>Horizontal curve frame at {t}</td><td>Plane</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>