<!DOCTYPE HTML>
<html>
<head>
  <title>Point Polar - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="Point Polar - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div id="topheader"></div>

<div id="page">

<div id="content">

<div id="header">
<h1><img src="../../icons/Vector/PolarPoint.png"/> Point Polar</h1>
<p><a href="../../index.html">Component Index</a> &gt; Vector > Point > <b>Pt</b></p>
</div>

<h3>Create a point from polar {phi,theta,offset} coordinates.</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Base plane</b></td><td>P</td><td>Plane defining polar coordinate space</td><td>Plane</td></tr>
<tr><td><b>XY angle</b></td><td>xy</td><td>Angle in radians for P(x,y) rotation</td><td>Number</td></tr>
<tr><td><b>Z angle</b></td><td>z</td><td>Angle in radians for P(z) rotation</td><td>Number</td></tr>
<tr><td><b>Offset</b></td><td>d</td><td>Offset distance for point</td><td>Number</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Point</b></td><td>Pt</td><td>Polar point coordinate</td><td>Point</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>