<!DOCTYPE HTML>
<html>
<head>
  <title>Square - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="Square - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div class="topheader"></div>

<div class="page">

<div class="content">

<div class="header">
<h1><img src="../../icons/Vector/SquareGrid.png"/> Square</h1>
<p><a href="../../index.html">Component Index</a> &gt; Vector > Vector > Grid > <b>SqGrid</b></p>
</div>

<h3>2D grid with square cells</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Plane</b></td><td>P</td><td>Base plane for grid</td><td>Plane</td></tr>
<tr><td><b>Size</b></td><td>S</td><td>Size of grid cells</td><td>Number</td></tr>
<tr><td><b>Extent X</b></td><td>Ex</td><td>Number of grid cells in base plane x direction</td><td>Integer</td></tr>
<tr><td><b>Extent Y</b></td><td>Ey</td><td>Number of grid cells in base plane y direction</td><td>Integer</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Cells</b></td><td>C</td><td>Grid cell outlines</td><td>Rectangle</td></tr>
<tr><td><b>Points</b></td><td>P</td><td>Points at grid corners</td><td>Tree of Point</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>