<!DOCTYPE HTML>
<html>
<head>
  <title>To Polar - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="To Polar - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div class="topheader"></div>

<div class="page">

<div class="content">

<div class="header">
<h1><img src="../../icons/Vector/PolarPointReverse.png"/> To Polar</h1>
<p><a href="../../index.html">Component Index</a> &gt; Grasshopper > Vector > Point > <b>Polar</b></p>
</div>

<h3>Convert a 3D point to plane polar coordinates.</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Point</b></td><td>P</td><td>3D point to transcribe</td><td>Point</td></tr>
<tr><td><b>System</b></td><td>S</td><td>Plane defining polar coordinate space</td><td>Plane</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Phi</b></td><td>P</td><td>Planar angle in radians (counter-clockwise starting at the plane X-axis)</td><td>Number</td></tr>
<tr><td><b>Theta</b></td><td>T</td><td>Vertical angle in radians</td><td>Number</td></tr>
<tr><td><b>Radius</b></td><td>R</td><td>Distance from system origin to point</td><td>Number</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>