<!DOCTYPE HTML>
<html>
<head>
  <title>Basic Box - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="Basic Box - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div class="topheader"></div>

<div class="page">

<div class="content">

<div class="header">
<h1><img src="../../icons/IntraLattice/basicBox.png"/> Basic Box</h1>
<p><a href="../../index.html">Component Index</a> &gt; IntraLattice > Frame > <b>BasicBox</b></p>
</div>

<h3>Generates a lattice box.</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Topology</b></td><td>Topo</td><td>Unit cell topology</td><td>Generic</td></tr>
<tr><td><b>Cell Size ( x )</b></td><td>CSx</td><td>Size of unit cell (x)</td><td>Number</td></tr>
<tr><td><b>Cell Size ( y )</b></td><td>CSy</td><td>Size of unit cell (y)</td><td>Number</td></tr>
<tr><td><b>Cell Size ( z )</b></td><td>CSz</td><td>Size of unit cell (z)</td><td>Number</td></tr>
<tr><td><b>Number of Cells ( x )</b></td><td>Nx</td><td>Number of unit cells (x)</td><td>Integer</td></tr>
<tr><td><b>Number of Cells ( y )</b></td><td>Ny</td><td>Number of unit cells (y)</td><td>Integer</td></tr>
<tr><td><b>Number of Cells ( z )</b></td><td>Nz</td><td>Number of unit cells (z)</td><td>Integer</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Struts</b></td><td>Struts</td><td>Strut curve network</td><td>List of Curve</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>