<!DOCTYPE HTML>
<html>
<head>
  <title>Conform Surface-Axis - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="Conform Surface-Axis - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div class="topheader"></div>

<div class="page">

<div class="content">

<div class="header">
<h1><img src="../../icons/IntraLattice/conformSA.png"/> Conform Surface-Axis</h1>
<p><a href="../../index.html">Component Index</a> &gt; IntraLattice > Frame > <b>ConformSA</b></p>
</div>

<h3>Generates a conforming lattice between a surface and an axis.</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Topology</b></td><td>Topo</td><td>Unit cell topology</td><td>Generic</td></tr>
<tr><td><b>Surface</b></td><td>Surf</td><td>Surface to conform to</td><td>Surface</td></tr>
<tr><td><b>Axis</b></td><td>A</td><td>Axis (may be curved)</td><td>Curve</td></tr>
<tr><td><b>Number u</b></td><td>Nu</td><td>Number of unit cells (u)</td><td>Integer</td></tr>
<tr><td><b>Number v</b></td><td>Nv</td><td>Number of unit cells (v)</td><td>Integer</td></tr>
<tr><td><b>Number w</b></td><td>Nw</td><td>Number of unit cells (w)</td><td>Integer</td></tr>
<tr><td><b>Morph</b></td><td>Morph</td><td>If true, struts are morphed to the space as curves.</td><td>Boolean</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Struts</b></td><td>Struts</td><td>Strut curve network</td><td>List of Curve</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>