<!DOCTYPE HTML>
<html>
<head>
  <title>Preset Cell - Grasshopper Component Reference</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="title" content="Preset Cell - Grasshopper Component Reference" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link href="../../style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
</head>

<div class="topheader"></div>

<div class="page">

<div class="content">

<div class="header">
<h1><img src="../../icons/IntraLattice/presetCell.png"/> Preset Cell</h1>
<p><a href="../../index.html">Component Index</a> &gt; IntraLattice > Cell > <b>PresetCell</b></p>
</div>

<h3>Built-in selection of unit cell topologies.</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Cell Tye</b></td><td>Type</td><td>Unit cell topology type</td><td>Integer</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Topology</b></td><td>Topo</td><td>Unit cell topology</td><td>Generic</td></tr>
<tr><td><b>Lines</b></td><td>L</td><td>Optional output so you can modify the unit cell lines. Pass through the CustomCell component when you're done.</td><td>List of Line</td></tr>
</tbody>
</table>


<p id="copy">Copyright © 2016 Robert McNeel &amp; Associates.</p>

  </div>

</div>


</body>
</html>